{% extends 'base_non_connecte.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    {# connexion google
    <div class="container">
        <div class="row justify-content-center">
            <div class="card mt-5 shadow-lg  text-center" style="width: 18rem;">
                <img src="{{asset('images/connect.png')}}" class="card-img-top mt-2" alt="connexion">
                <div class="card-body">
                    <a href="{{ path('connect_google_start')}}"><button class="btn btn-outline-dark btn-lg mb-1">Se connecter avec <i class="fab fa-google"></i></button>
                </a>
                </div>
            </div>
        </div>
    </div> #}
<section class="d-flex justify-content-center">
    <div class="m-5 d-flex flex-column align-items-center">
        <h2>Portail de connexion</h2>
        <button><a href="{{ path('app_login') }}">Connexion</a></button>
    </div>
    {# <div class="m-5 d-flex flex-column align-items-center">    
        <h2>Espace Apprenant</h2>
        <button><a href="#">Connexion</a></button>
    </div>
    <div class="m-5 d-flex flex-column align-items-center">
        <h2>Espace Formateur</h2>
        <button><a href="#">Connexion</a></button>
    </div>
    <div class="m-5 d-flex flex-column align-items-center">
        <h2>Espace Client</h2>
        <button><a href="#">Connexion</a></button>
    </div> #}
</section>
    

{% endblock %}
