{% extends 'base-admin.html.twig' %}


{% block title %}Email{% endblock %}

{% block body %}
    <div class="container">
        <div class="row g-3">
            <div class="col">
                {{form(emails)}} 
            </div>
        </div> 
    </div> 
{% endblock %}
