{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="containerTitre">
        <h1>La liste de templates</h1>
    </div>
    <div class="botton">
        <a href="{{ path('email') }}" class="btn btn-outline-success btn-lg btn-block">Ajouter un template</i></a>
    </div>
    <div class="containerTableau mt-4">
        {% for finder in finders %}
        {# {{dump(finder)}} #}
        <h3>{{finder.relativePathname}}</h3>
                
        {% endfor %}
    </div>
{% endblock %}