{% extends 'base-admin.html.twig' %}


{% block title %}Modifier Template{% endblock %}

{% block body %}
    <h1>Modifier Template</h1>

    {{ include('template/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('template_index') }}">Retour</a>

    {{ include('template/_delete_form.html.twig') }}
{% endblock %}
