{% extends 'base-admin.html.twig' %}


{% block title %}Template{% endblock %}

{% block body %}
    <h1>Template</h1>

        <button class="btn btn-outline-success"> <a href="{{ path('template_new') }}">Nouveau</a></button>
    
    <table class="table">
        <thead>
            <tr>
                <th>Tag</th>
                <th>Filename</th>
                <th>Texte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for template in templates %}
            <tr>
            <td>{{ template.tag }}</td>
            <td>{{ template.filename }}</td>
            <td>{{ template.texte|raw }}</td>
                <td>
                    <a href="{{ path('template_show', {'id': template.id}) }}"><i class="far fa-eye text-primary"></i></a>
                    <a href="{{ path('template_edit', {'id': template.id}) }}"><i class="far fa-edit  text-primary"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
