{% extends 'base-admin.html.twig' %}


{% block title %}Nouveau Template{% endblock %}

{% block body %}
    <h1>Ajouter un Template</h1>

    {{ include('template/_form.html.twig') }}

    <a href="{{ path('template_index') }}">Retour</a>
{% endblock %}
