{% extends 'base-admin.html.twig' %}


{% block title %}Template{% endblock %}

{% block body %}
    <h1>Template</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Texte</th>
                <th>Tag</th>
                <th>Filename</th>
            </tr>
        </thead>    
        <tbody>   
            <tr> 
                <td>{{ template.id }}</td>
                <td>{{ template.texte }}</td>
                <td>{{ template.tag }}</td>
                <td>{{ template.filename }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('template_index') }}">Retour</a>

    <a href="{{ path('template_edit', {'id': template.id}) }}">Modifier</a>

    {{ include('template/_delete_form.html.twig') }}
{% endblock %}
