{% block body %}
   {% for message in app.flashes('danger') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
<form>
    <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Mot de passe</label>
        <input type="password" class="form-control" id="pass" name="pass">
    </div>
    <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Confirmer mot de passe</label>
        <input type="text" class="form-control" id="pass2"  name="pass2">
    </div>
    <button type="submit">Modifier</button>
</form>
{% endblock  %}
