{% extends 'base_non_connecte.html.twig' %}

{% block body %}
    {# afficher  les addFlash => ils sont dans sécurityController #}
    {% for message in app.flashes('message') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    {% for message in app.flashes('warning') %}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}


<section class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center mt-5">KOUROS FORMATION </h1>
       {% if app.user %}
            <div class="mb-3 fs-2">
                Bonjour {{ app.user.contact.nom }} {{ app.user.contact.prenom }} 
            </div>
            <a href="{{ path('app_logout') }}"> <button class="btn btn-lg btn-primary mt-3">Déconnexion</button> </a>
    {% else %}
    <form class="col-10 col-md-6 col-xl-3 p-5" method="post">
        <h2 class="text-center mb-2" >Identifiez-vous</h2>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <label for="inputIdentifiant">Identifiant</label>
        <input type="identifiant" value="{{ last_username }}" name="identifiant" id="inputIdentifiant" class="form-control" autocomplete="identifiant" required autofocus>
        
        <label class=" mt-3" for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary mt-3" type="submit">
            Connexion
        </button>
        <p class="fs-5  mt-3">
            <a href="{{path ("oublie_mdp")}}" >Mot de passe oublié</a> 
        </p>
    </form>

</section>
    {% endif %}

{% endblock %}
