{% extends 'base_non_connecte.html.twig' %}

{% block body %}
    <h1>Mot de passe oublié</h1>
    <div class="container textForm">
        <div class="row g-3">
            <div class="col-md-6">
                {{form(FormIdentifiant)}} 
            </div>
        </div> 
    </div> 

{% endblock %}
