{% extends 'base_non_connecte.html.twig' %}

{% block body %}
    <h1>Entrez votre nouveau mot de passe</h1>
    <form method="post">
        <label for="pass">Mot de passe</label>
        <input type="password" name="password" id="pass">
        <input type="hidden" namee="token" value= "{{token}}">
        <button>Enregistrer</button>
    </form>  
{% endblock %}
