{% extends 'base-admin.html.twig' %}


{% block title %}Formations{% endblock %}

{% block body %}

    <nav style="--bs-breadcrumb-divider: '>';"  aria-label="breadcrumb m-5">
    <ol class="breadcrumb m-5">
        <li class="breadcrumb-item active" aria-current="page">Formations</li>
    </ol>
    </nav>

    <div class="row justify-content-center">
            <div class="table-responsive-sm">
            <div class="card col-10">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="{{ path('formation')}}">Formations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('formation_sessionCours')}}">Sessions en cours</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('formation_sessionVenir')}}">Sessions à venir</a>
                        </li>
                        {# ANCHOR à conserver? #}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('formation_sessionTermine')}}">Sessions terminées</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Dernieres formations</h5>
                    {#TODO afficher les 10 derniers formations  => c'est fait😃 #}
                    <table class="table table-striped" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
                        <thead>
                            <tr>
                            <th>Titre</th>
                            <th>Catégorie</th>
                            <th>Niveau</th>
                            <th>Voir</th> 
                            </tr>
                        </thead>
                        <tbody>
                        {% for formation in formations %}
                            <tr>
                            <th>{{ formation.titre }}</th>
                            <td>{{ formation.secteur }}</td>
                            <td>{{formation.niveau}}</td>   
                            <td>
                                <a href="{{ path('formations_show', {'id': formation.id}) }}"data-bs-toggle="tooltip" title="voir"><i class="far fa-eye text-primary"></i></a>
                            </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center ">
                    <a href="{{ path('formations_index')}}" class="btn btn-primary">Liste complète</a>
                    </div>
                </div>
            </div>
            </div>
    </div>

{% endblock %}
