{% extends 'base-admin.html.twig' %}


{% block title %}Formations{% endblock %}

{% block body %}

    <nav style="--bs-breadcrumb-divider: '>';"  aria-label="breadcrumb m-5">
    <ol class="breadcrumb m-5">
        <li class="breadcrumb-item active" aria-current="page">Formations</li>
    </ol>
    </nav>

    <div class="row justify-content-center">
            <div class="table-responsive-sm">
            <div class="card col-10">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('formation')}}">Formations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('formation_sessionCours')}}">Sessions en cours</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="{{ path('formation_sessionVenir')}}">Sessions à venir</a>
                        </li>
                        {# ANCHOR à conserver? #}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('formation_sessionTermine')}}">Sessions terminées</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center ">Sessions à venir</h5>
                    {#TODO afficher les 10 dernieres sessions à venir  =>c'est fait😉  #}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            {# si on veut afficher le nom de l'entreprise faut bien avoir une relation?? mais jusqu'au la on a pas!! #}
                            <th>Entreprise</th>
                            <th>Date début</th>
                            <th>Date fin</th>
                            <th>Lieux</th>
                            <th>Formation</th>
                            <th>Formateur</th>
                            <th>Voir</th> 
                            </tr>
                        </thead>
                        <tbody>
                        {% for session in sessionVenir %}
                            <tr>
                            <th>relation.prospect!</th>
                            <td>{{ session.start|date('d-m-Y')}}</td>
                            <td>{{session.end|date('d-m-Y')}}</td>
                            <td>relation.prospect!</td>
                            <td>{{session.formation}}</td>
                            <td>{{session.formateur}}</td>
                            <td>
                                <a href="{{ path('session_show', {'id': session.id}) }}"  data-bs-toggle="tooltip" title="voir"><button type="button" class="btn">
                                <i class="far fa-eye"></i></button>
                                </a>
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center ">
                    <a href="{{path ("session_index")}}" class="btn btn-primary">Liste complète</a>
                    </div>
                </div>
            </div>
            </div>
    </div>

{% endblock %}
