<form method="post" action="{{ path('employes_delete', {'id': employe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employe.id) }}">
     <button class="btn"><i class="far fa-trash-alt text-danger"></i></button>
</form>
