{{ form_start(form, {'attr':{'class':'col-12'}}) }}

<div class="card p-3 mt-3 mb-3">
    <h2>Ajouter un utilisateur</h2>
    <div class="form-entreprise card p-3 mt-4">
    
        <div class="d-flex justify-content-between align-items-center">
            <div class="row form-check form-switch">
                {{ form_label(form.roles) }}
                {{ form_widget(form.roles) }}
            </div>
            <a href="{{ path('employes_new') }}" class="btn btn-outline-secondary btn-sm btn-block text text-secondary" width="20" height="20"><img src="{{ asset('images/icons/undo-solid.svg') }}" width="25" height="25"></a>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_label(form.contact.prenom) }}
                {{ form_widget(form.contact.prenom) }}
            </div>
            <div class="col-6">
                {{ form_label(form.contact.nom) }}
                {{ form_widget(form.contact.nom) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_label(form.contact.tel) }}
                {{ form_widget(form.contact.tel) }}
            </div>
            <div class="col-6">
                {{ form_label(form.contact.mobile) }}
                {{ form_widget(form.contact.mobile) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_label(form.contact.email) }}
                {{ form_widget(form.contact.email) }}
            </div>
            <div class="col-6">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
                {{ form_help(form.password) }}
            </div>
        </div>
        <div>
            <button class="btn btn-outline-secondary mt-3 mb-3">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
</div>



{{ form_end(form) }}
