{% extends 'base-admin.html.twig' %}


{% block title %}Editer un Employé{% endblock %}

{% block body %}

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb m-1">
            <li class="breadcrumb-item"><a href="{{ path('contact')}}">Contact</a></li>
            <li class="breadcrumb-item"><a href="{{ path('employes_index')}}">Liste complète</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajout</li>
            <li class="breadcrumb-item"><a href="{{ path('employes_index') }}">Retour</a></li>
        </ol>
    </nav>
        
        <h2 class="d-inline-flex">Ajouter un prospect</h2>
    
    {{ include('employes/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    

{% endblock %}

{% block javascripts %}
<script>
//corrige le problème d'erreur si mdp laissé vide pour génération auto
const passwordNull = ()=>{
    $('form').on('submit', ()=>{
        if($('#employes_password').val() == ''){
            $('#employes_password').val(' ');
        }
    })
}
//liste des inputs obligatoires
const requiredList = [
    "#employes_contact_prenom",
    "#employes_contact_nom",
    "#employes_contact_mobile",
    "#employes_contact_email",
]
//rend la liste obligatoire
const addRequired = (list)=>{
    list.map((input)=>{
        $(input).attr('required','required');
    })
}
//cache les champs en trop et les rend non obligatoires
const notUse = ()=>{
    $('fieldset').addClass('d-none');
    $('fieldset input').removeAttr('required');
}
//lance les fonctions
const initEmploye = ()=>{
    passwordNull();
    addRequired(requiredList);
    notUse();
}
initEmploye();

</script>
{% endblock %}