{% extends 'base-admin.html.twig' %}


{% block title %}Employes index{% endblock %}

{% block body %}

    <div class="row align-items-center">            
        <div class="text-center">
            <h1>La liste des employés </h1>
        </div>
        <div class="d-flex justify-content">
            <a href="{{ path('employes_new') }}" class="btn btn-outline-success btn-sm btn-block">Ajouter un employé</i></a>
        </div>
    </div>

    <div class="containerTableau">
        <div class="table-responsive-sm">
        <table class="table text-center" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Roles</th>
                {# <th>Image</th>
                <th>Fullname</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
                <td>{{ employe.identifiant }}</td>
                <td>{{ employe.contact.prenom }}</td>
                <td>{{ employe.contact.nom }}</td>
                <td>{{ employe.contact.email }}</td>
                <td>
                    {% if "ROLE_ADMIN" in employe.roles %}
                        Administrateur
                    {% else %}
                        Employé
                    {% endif %}
                </td>
                {# <td>{{ employe.image }}</td>
                <td>{{ employe.fullname }}</td> #}
                <td>
                    {# {{ include('employes/_delete_form.html.twig') }} #}

                    <a href="{{ path('employes_show', {'id': employe.id}) }}"data-bs-toggle="tooltip" title="voir"><i class="far fa-eye  text-primary"></i></a>
                    <a href="{{ path('employes_edit', {'id': employe.id}) }}"data-bs-toggle="tooltip" title="modifier"><i class="fas fa-user-edit text-primary"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun résultat </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    </div>


{% endblock %}
