{% extends 'base-admin.html.twig' %}


{% block title %}Nouvel Employé{% endblock %}

{% block body %}

    <nav style="--bs-breadcrumb-divider: '>';" class="col-6" aria-label="breadcrumb">
        <ol class="breadcrumb m-1">
            <li class="breadcrumb-item"><a href="{{ path('contact')}}">Contact</a></li>
            <li class="breadcrumb-item"><a href="{{ path('employes_index')}}">Liste complète</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajout</li>
            <li class="breadcrumb-item"><a href="{{ path('employes_index') }}">Retour</a></li>
        </ol>
    </nav>

    {{ include('employes/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
<script>
$('fieldset').addClass('d-none');
$('fieldset input').removeAttr('required');


</script>
{% endblock %}
