{% extends 'base-admin.html.twig' %}


{% block title %}Employés{% endblock %}

{% block body %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    
    <ol class="breadcrumb m-1">
            <li class="breadcrumb-item"><a href="{{ path('employes_index')}}">Liste des employés</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fiche détaillée</li>
            <li  class="breadcrumb-item">  <a href="{{ path('employes_index') }}">Retour</a></li>

    </ol>
</nav>

    <h1>Les employés</h1>

<div class="containerTableau">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Image</th>
                <th>Fullname</th>       
                <th>Roles</th>
                <th>Actions</th>
                
            </tr>
        </thead> 
        <tbody>    
            <tr>
                <td>{{ employe.identifiant }}</td>
                <td>{{ employe.contact.prenom }}</td>
                <td>{{ employe.contact.nom }}</td>
                <td>{{ employe.contact.email }}</td>
                <td>{{ employe.image }}</td>
                <td>{{ employe.fullname }}</td>
                <td>
                    {% if "ROLE_ADMIN" in employe.roles %}
                        Administrateur
                    {% else %}
                        Employé
                    {% endif %}
                </td>
                <td>             
                    <a href="{{ path('employes_edit', {'id': employe.id}) }}"data-bs-toggle="tooltip" title="modifier">
                        <i class="fas fa-user-edit text-primary"></i>
                    </a>
                    {{ include('employes/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
