@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}
/* body{
    background-color: rgb(223, 221, 221);
} */
/********************************************************************/
/************************       Mobile      *************************/
/********************************************************************/

/**************************  barre de navigation *********************/

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    background: #11101d;
    font-family: 'Poppins', sans-serif;
    /* z-index: 100; */
    transition: all 0.5s ease;
}
.sidebar.close{
    width: 70px ;
}
.sidebar .logo_details{
    height: 60px;
    width: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.sidebar .logo_details img{
    height: 50px;
    min-width: 60px;
    border-radius: 5px;
}

.sidebar .logo_details .logo_name {
    font-size: 25px;
    color: #fff;
    margin-left: 50px;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo_details .logo_name { 
    transition-delay: 0;
    opacity: 0;
    pointer-events: none;

}
.sidebar .nav_links{
    position: relative;
    top: 30px;
    /* background: rgb(0, 204, 255); */
    height: 100%;
    padding-top:50px;
    line-height: 70px;
    /* overflow: auto; */
}

.sidebar .nav_links::-webkit-scrollbar{
    display: none;
}

.sidebar .nav_links li .icone_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar .nav_links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav_links li i{
    height: 30px;
    min-width: 50px;
    /* text-align: center; */
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    transition:  all 0.3s ease;
    /* font-size: 20px; */
}
.sidebar .nav_links li  i.arrow{
    text-align: center;
}
.sidebar.close .nav_links li i{
    display: flex;
    align-items: center;
}
.sidebar .nav_links li.showMenu i.arrow{
    transform: rotate(-180deg);
}
.sidebar.close .nav_links li i.arrow{
    display: none;
}
.sidebar .nav_links li a{
    display: flex;
    align-items: center;
}
.sidebar .nav_links li a .link_name{
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}
.sidebar.close .nav_links li a .link_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav_links li .sub-menu{
    padding:4px 4px 12px 60px;
    margin-top: -10px;
    line-height: 30px;
    background: #1d1b31;
    display: none;

}
.sidebar .nav_links li .sub-menu a{
    color: #fff;
    font-size: 16px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3 ease;
}
.sidebar .nav_links li.showMenu .sub-menu{
    display: block;
}

.sidebar .nav_links .icone_link.showMenu .sub-menu{
    display: block;
}

.sidebar .nav_links li .sub-menu .link_name{
    display: none;
}

.sidebar .nav_links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav_links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
}
.sidebar .profile_details{
    position: fixed; 
    /* bottom: 0; */
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1d1b31;
    left: 0;
    width: 270px;
    padding: 5px 0;
    transition: all 0.4s ease;

}
.sidebar.close .profile_details{
    width: 80px;
}
.sidebar .profile_details .profile_content{
    display: flex;
    align-items: center;
}
.sidebar .profile_details i{
    color: white;
    font-size:30px ;
    object-fit: cover;
    margin: 0 14px 0 12px;
    transition: all 0.5s ease;
}
.sidebar.close .profile_details i{
    font-size:30px ;
}
.sidebar .profile_details .profile{
    color: white;
    font-size: 17px;
    position: relative;
    right: 45px;
    font-weight: bolder;
    white-space: nowrap;
}
.sidebar.close .profile_details .profile{
    opacity: 0;

}
.home-section{
    /* background-color: red; */
    position: relative;
    top: 60px;
    left: 30px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
    position: relative;
    top: 60px;
    left: 7px;
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .home-content i{
    position: fixed;
    color:white;
    font-size: 30px;
    height: 30px;
    min-width: 50px;
}
.sidebar.close ~ .home-section .home-content i{
    transform: rotate(180deg);
}
#modalmdp{
    z-index: 100000;
}

/*/////////Page d'accueil/////////*/
.formRecherche{
    background-color:rgba(62, 157, 208, 0.657);
    border-radius: 10px;
}

.containerTitre{
    margin: 30px 400px;
}
h1{
    font-family: 'Acme', sans-serif;
    color: rgb(0, 183, 255); 
}

.containerTableau{
    margin:0px 400px;
}
.botton{
    position: relative;
    /* left: 85%; */
    margin:  0px 400px 40px 400px;
}
.text{
    /* font-family: 'PT Serif', serif; */
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 1.2rem;
    line-height: 40px;
}

.containerShow{
    margin-left: 30px;
}
.Gridaccueil{
    margin-top: 50px;
}
.containerAccueil{
    margin: 50px 300px;
}
.grid1{
    margin:10px 20px;
    background-color:white;
    padding: 20px 50px;
    border-radius: 10px;
    font-family:'PT Serif', serif;
    font-size: 1.2rem;
}
.grid2{
    color: white;
    background-color:#17C7BD;
}
.grid3{
    background-color: tomato;
    color: white;

}
.iconeAccueil{
    position: relative;
    left: 350px;
}
.tableauShow{
    margin: 50px 500px;
}
.iconeUser{
    position: relative;
    left: 27%;
    color: white;
}
.user{
    position: relative;
    left: 56%;
    font-size: 1.6rem;
    color: white;
    font-family: 'Acme', sans-serif;
}
.textForm{
    font-family:'PT Serif', serif;
    font-size: 1.1rem;
    font-weight: bold;
}
.modal{
    z-index: 5;
}

/********************************************************************/
/************************       ordinateur    *************************/
/********************************************************************/

@media screen and (min-width: 1024px){
    .sidebar{
        width: 300px;
    }
    .sidebar.close{
        width: 100px ;
    }
    .sidebar .nav_links{
        top: 50px;
        overflow:  visible;
    }
    .sidebar .nav_links li:hover{
        background: #1d1b31;
    }
    .sidebar .nav_links li i{
        height: 50px;
        min-width: 70px;
        line-height: 50px;       
    }
    .sidebar .nav_links li a .link_name{
        font-size: 19px;
    }
    .sidebar .nav_links li .sub-menu{
        padding:6px 6px 14px 80px;
        line-height: 40px;
    }
    .sidebar .nav_links li .sub-menu a{
        font-size: 18px;
        padding: 5px 0;
    }
    .sidebar .nav_links li .sub-menu a:hover{
        opacity: 1;
    }
    .sidebar.close .nav_links li .sub-menu{
        position: absolute;
        left: 100%;
        top: -10px;
        margin-top: 35px;
        padding: 10px 40px;
        border-radius: 0 6px 6px 0;
        opacity: 0;
        display: block;
        pointer-events: none;
        transition: 0s;
    }
    .sidebar.close .nav_links li  .sous_menu{
        display: none;
        margin-top: 50px;

    }
    .sidebar.close .nav_links  .sub-menu.menu{
       margin-top: 0;
       transition: all 0.4s ease;
    }

    .sidebar.close .nav_links li:hover .sub-menu{
    top: -0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    }
    .sidebar.close .nav_links li .sub-menu .link_name{
        font-size: 18px;
        opacity: 2;
        display: block;
    }

    .sidebar .profile_details{
        bottom: 0;
        width: 300px;
        padding: 8px 0;
    }
    .sidebar.close .profile_details{
        width: 100px;
    }
    .sidebar .profile_details i{     
        font-size:40px ;
        position: relative;
        left: 20px;   
    }
    .sidebar .profile_details .profile{
        font-size: 20px;
        right: 80px;
    }



 
    #calendrier{
        margin-left: 150px;
    }   
}