{% if devis.fraisDivers|length == 0 %}
    {% set count = 1 %}
{% else %}
    {% set count = devis.fraisDivers|length %}
{% endif %}
{% set class = count + 1 %}
<div class="ficheFraisDivers fraisDivers{{ class }} nvFraisDivers d-none">
    <div class="row">
        <div class="form-group mt-3">
            <div class="form-check form-switch">
                <h4>
                    Frais divers
                </h4>
                <label for="devis_fraisDivers_{{ count }}_nom" class="required">
                    Nom
                                    
                </label>
                <input type="text" id="devis_fraisDivers_{{ count }}_numero" name="devis[fraisDivers][{{ count }}][nom]" required="required" maxlength="80" class="form-control">

                    <label for="devis_fraisDivers_{{ count }}_montant" class="required">
                        Montant
                                        
                    </label>
                    <input type="text" id="devis_fraisDivers_{{ count }}_montant" name="devis[fraisDivers][{{ count }}][montant]" required="required" maxlength="80" class="form-control"></div>
            </div>
        </div>
    </div>
</div>          