{{ form_start(form, {'attr':{'class':'col-12' }}
) }}

    
<div class="card mt-4 p-4">

    <div class="card mt-4 p-4">

    <div class="row mt-4">
        <h4>
            Général                 
        </h4>
        <div class="col-3">
            {{ form_label(form.formations) }}
            {{ form_widget(form.formations) }}
        </div>
        <div class="col-3">
            {{ form_label(form.prix) }}
            {{ form_widget(form.prix) }}

        </div>
        <div class="col-3">
            {{ form_label(form.niveau) }}
            {{ form_widget(form.niveau) }}
        </div>
        <div class="col-3">
            {{ form_label(form.methode) }}
            {{ form_widget(form.methode) }}
        </div>
    </div>
    <div class="row mt-4">
        <h4>
            Participants                       
        </h4>
        <div class="col-4">
            {{ form_label(form.nbrParticipants) }}
            {% if prospect.statut is defined and prospect.statut == 'Particulier' %}
                {{ form_widget(form.nbrParticipants, {"attr":{"disabled":"true", "value":"1" }}
                ) }}       
                                
            {% else %}
                {{ form_widget(form.nbrParticipants, {"type":"number"}) }}

            {% endif %}
        </div>

        <div class="col-4">
            {{ form_label(form.dureeH) }}
            {{ form_widget(form.dureeH) }}
        </div>
        <div class="col-4">
            {{ form_label(form.nbJours, 'Nbr jours') }}
            {{ form_widget(form.nbJours) }}
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            {{ form_label(form.dateDebut) }}
            {{ form_widget(form.dateDebut) }}
        </div>
        <div class="col-4">
            {{ form_label(form.dateFin) }}
            {{ form_widget(form.dateFin) }}
        </div>
        <div class="col-4">
            {{ form_label(form.opco) }}
            {{ form_widget(form.opco) }}
        </div>
    </div>
    <div class="row mt-4 ">
        <div class="col-4">
            {{ form_label(form.tarifs.horstaxe,'Tarif HT') }}
            {{ form_widget(form.tarifs.horstaxe) }}
        </div>    
        <div class="col-4">
            {{ form_label(form.tarifs.ttc, 'Tarif TTC') }}
            {{ form_widget(form.tarifs.ttc) }}
        </div> 
        <div class="col-4">
            {{ form_label(form.statut) }}
            {{ form_widget(form.statut) }}
        </div>   
    </div>
    <div class="card p-3 mt-3">
        <h4>
            Frais divers                
        </h4>

        <button type="button" class="add_item_link" data-collection-holder-class="frais">
            Ajouter un frais divers                       
        </button>

        <ul class="frais" data-prototype="{{ form_widget(form.fraisDivers.vars.prototype)|e('html_attr') }}" data-index="0">
            {% for fraisDivers in form.fraisDivers %}
                <li class="nav-item">
                    {{ form_row(fraisDivers.nom) }}
                    {{ form_row(fraisDivers.montant) }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="d-flex">
        <button class="btn btn-outline-secondary mt-3 mb-3">
            {{ button_label|default('Créer') }}
        </button>
    </div>

    {{ form_end(form) }}
</div>
    