{{ form_start(form) }}
    <div class="p-3 mt-3 mb-3 card">
        <div class="row">
            <div class="col-4">
                {{ form_label(form.statut) }}
                {{ form_widget(form.statut) }}
            </div>
        </div>
        <div class="d-flex">
            <button class="btn btn-outline-secondary mt-3 mb-3">
                {{ button_label|default('Modifier') }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
    