{% extends 'base-admin.html.twig' %}


{% block title %}
    Liste des devis
{% endblock %}

{% block body %}
    {{ include('include/_gestion.html.twig') }}

    <div class="containerTitre text-center">

        <h1>
            Liste des devis
        </h1>
    </div>
    <div class="botton">{# <a href="{{ path('devis_new') }}" class="btn btn-outline-success btn-lg btn-block">Ajouter un devis</i></a> #}
    </div>
    <div class="containerTableau">
        <div class="table-responsive-sm">
        <table class="table table-striped text" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="10">
            <thead>
                <tr>
                    <th>
                        Numéro de devis
                    </th>
                    <th>
                        Nom de contact
                    </th>
                    <th>
                        Formation demandée
                    </th>
                    <th>
                        Date de début
                    </th>
                    <th>
                        Date de fin
                    </th>
                    <th>
                        Coût total
                    </th>
                    <th>
                        Statut
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>

                {% for devi in devis %}

                    <tr>
                        <td>
                            {{ devi.numeroDevis }}
                            
                        </td>
                        <td>
                            {{ devi.client }}
                        </td>
                        <td>
                            {{devi.formations.titre}}
                        </td>
                        <td>
                            {{ devi.dateDebut|date('d-m-Y ') }}
                        </td>
                        <td>
                            {{ devi.dateFin|date('d-m-Y ') }}
                        </td>
                        <td>
                        {% if devi.tarifs.ttc is defined and devi.tarifs.ttc is not null %}    
                            {{devi.tarifs.ttc}} €
                        {% endif %}
                        
                        </td>
                        <td>
                            <!-- Button trigger modal -->
                            {# <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-toggle="tooltip" title="modifier le statut"> #}
                            <a class="statut" href="{{ path('edit_statut', {'id': devi.id}) }}">
                                {% if devi.statut == 0 %}
                                    <span class="text-primary">
                                        En cours
                                    </span>
                                {% elseif devi.statut == 1 %}
                                    <span class="text-success">
                                        Accepté
                                    </span>
                                {% else %}
                                    <span class="text-danger">
                                        Rejeté
                                    </span>
                                {% endif %}
                                </a>
                            {# </button> #}


                            <!-- Modal -->
                            {# <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                                Modifications
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <a href="{{ path('devis_edit', {'id': devi.id}) }}">
                                                Voulez vous modifier le statut de ce devis?
                                            </a>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Non
                                            </button>
                                            <a href="{{ path('devis_edit', {'id': devi.id}) }}">
                                                <button type="button" class="btn btn-primary">
                                                    Oui
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div> #}
                        {# fin modal #}
                        </td>
                        <td>
                            <a href="{{ path('devis_show', {'id': devi.id}) }}" data-bs-toggle="tooltip" title="voir">
                                <i class="far fa-eye text-primary"></i>
                            </a>
                            <a href="{{ path('devis_edit', {'id': devi.id}) }}" data-bs-toggle="tooltip" title="modifier">
                                <i class="far fa-edit text-primary"></i>
                            </a>
                            <a href="{{ path('devis_pdf', {'id': devi.id}) }}" data-bs-toggle="tooltip" title="générer PDF" target="_blank">
                                <i class="far fa-file-pdf text-primary"></i>
                            </a>
                            <a href="{{ path('convention_new_devis',{'id': devi.id}) }}" data-bs-toggle="tooltip" title="éditer convention">
                                <i class="fas fa-file-invoice text-primary"></i>
                            </a>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">
                            Aucun résultat
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}






