{% extends 'base-admin.html.twig' %}


{% block title %}
    Nouveau devis
{% endblock %}

{% block body %}

    {# test #}
    {# <div class='card position-absolute' style='width: 19rem; z-index: 10;'>
        <div class='card-header d-flex justify-content-between'>
            <h3>Frais annexes</h3>
            <button class='btn'>x</button>
        </div>
        <ul class='card-body d-flex flex-column m-2'>
            <li class='d-flex justify-content-between mt-2 mb-2'>
                <input class='form-control' type='text' placeholder='intitulé' style='width: 11rem;'>
                <input class='form-control' type='number' step='0.01' min='0' placeholder=' --- €' style='width: 4rem;'>
            </li>
            <li class='d-flex justify-content-between mt-2 mb-2'>
                <input class='form-control' type='text' placeholder='intitulé' style='width: 11rem;'>
                <input class='form-control' type='number' step='0.01' min='0' placeholder=' --- €' style='width: 4rem;'>
            </li>
            <li class='d-flex justify-content-between mt-2 mb-2'  >
                <a style='width: 7rem;'>Ajouter +</a>
                <input id="totalFrais" type='text' disabled class='form-control' style='width: 4rem;'></input>
            </li>
        </ul>
    </div> #}

        
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb m-1">
                    <li class="breadcrumb-item"><a href="{{ path('gestion') }}">Gestion</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('devis_index') }}">Liste des devis</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ajout</li>
                    <li class="breadcrumb-item"><a href="{{ path('prospects_index') }}">Retour</a></li>
                </ol>
            </nav>
            <div>
                <h2 class="d-inline-flex">
                    Créer un devis
                </h2>
            </div>

            {# si statut entreprise #}
            {% if prospect.statut == 'Entreprise' %}
                <div class="col-12 p-3 mt-3 mb-3 card">
                    <div class="p-3 mt-3 mb-3 card">
                        <div class="row mt-3">
                            <h4>
                                Informations
                            </h4>
                            <div class="col-6 mb-2">
                                <div >
                                       <strong>Statut :</strong> {{ prospect.statut }}                                    
                                </div>
                                <div >
                                       <strong>Dénomination :</strong> 
                                        {{ prospect.entreprise.denominationSociale }}
                                </div>
                                <div >
                                       <strong>Code APE/NAF :</strong> 
                                        {{ prospect.entreprise.ape }}
                                </div>
                                <div >
                                       <strong>Nombre de salariés :</strong> 
                                        {{ prospect.entreprise.nbsalarie }}
                                </div>
                            </div>

                            <div class="col-6 ">
                                <div >
                                       <strong>Siret :</strong> 
                                        {{ prospect.entreprise.siret }}
                                </div>
                                <div >
                                       <strong>Activité :</strong> 
                                        {{ prospect.entreprise.activite }}
                                </div>
                                <div >
                                       <strong>TVA :</strong> 
                                        {{ prospect.entreprise.tva }}
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        

                    
            {% else %}
                {# particulier #}
                <div class="col-12 p-3 mt-3 mb-3 card">
                    <div class="p-3 mt-3 mb-3 card">
                        <div class="row mt-3">
                            <h4>
                                Informations
                            </h4>
                            {% for contact in prospect.contacts %}
                            <div class="col-6 mb-2">
                                <div >
                                        <strong>Statut :</strong> 
                                        {{ prospect.statut }}
                                </div>
                                
                                <div >
                                        <strong>Nom :</strong> 
                                        {{ contact.nom }}
                                </div>
                                <div >
                                        <strong>Téléphone :</strong> 
                                        {{ contact.tel }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div >
                                        <strong>Email :</strong> 
                                        {{ contact.email }}
                                </div>
                                <div >
                                        <strong>Prénom :</strong> 
                                        {{ contact.prenom }}
                                </div>
                                <div >
                                        <strong>Mobile :</strong> 
                                        {% if contact.mobile == '' %}
                                            ----------
                                                                        
                                        {% endif %}
                                        {{ contact.mobile }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            {% endif %}

            <div class="card mt-4 p-4">
    
    {{ form_start(form) }}

    <div class="row mt-4">
        <h4>
            Général       
        </h4>
        <div class="col-3">
            {{ form_label(form.formations) }}
            {{ form_widget(form.formations) }}

        </div>
        <div class="col-3">
            {{ form_label(form.prix) }}
            {{ form_widget(form.prix) }}

        </div>
        <div class="col-3">
            {{ form_label(form.niveau) }}
            {{ form_widget(form.niveau) }}
        </div>
        <div class="col-3">
            {{ form_label(form.methode) }}
            {{ form_widget(form.methode) }}
        </div>
    </div>    
    
        <div class="row mt-4">
            <h4>
                Participants           
            </h4>
            <div class="col-4">
                {{ form_label(form.nbrParticipants) }}
                {# {% if prospect.statut is defined and prospect.statut == 'Particulier' %}
                    {{ form_widget(form.nbrParticipants, {"attr":{"disabled":"true", "value":"1" }}
                    ) }}       
                {% else %} #}
                    {{ form_widget(form.nbrParticipants, {"type":"number"}) }}
            
                {# {% endif %} #}
            </div>

    
            <div class="col-4">
                {{ form_label(form.dureeH) }}
                {{ form_widget(form.dureeH) }}
            </div>
            <div class="col-4">
            {{ form_label(form.nbJours, 'Nbr jours') }}
            {{ form_widget(form.nbJours) }}
        </div>
        </div>
        <div class="row mt-4">
            <div class="col-4">
                {{ form_label(form.dateDebut) }}
                {{ form_widget(form.dateDebut) }}
            </div>
            <div class="col-4">
                {{ form_label(form.dateFin) }}
                {{ form_widget(form.dateFin) }}
            </div>
            <div class="col-4">
                {{ form_label(form.opco) }}
                {{ form_widget(form.opco) }}
            </div>
        </div>
        <div class="row mt-4">    
            <div class="col-4">
                {{ form_label(form.tarifs.horstaxe,'Tarif HT') }}
                {{ form_widget(form.tarifs.horstaxe) }}
            </div>    
            <div class="col-4">
                {{ form_label(form.tarifs.ttc, 'Tarif TTC') }}
                {{ form_widget(form.tarifs.ttc) }}
            </div>    
            <div class="col-4">
                {{ form_label(form.statut) }}
                {{ form_widget(form.statut) }}
            </div>

            {# ici commence les frais divers #}

            <div class="card p-3 mt-3">
                <h4>
                    Frais divers
                </h4>
                <ul id="navFraisDivers" class="nav nav-tabs mt-3">
                    <li class="nav-item">
                        <button type="button" class="add_item_link nav-link active" data-collection-holder-class="frais">
                            Ajouter +      
                        </button>
                    </li>
                </ul>

                <ul class="frais" style="list-style-type:none;" data-prototype="{{ form_widget(form.fraisDivers.vars.prototype)|e('html_attr') }}" data-index="0">
                {% for fraisDivers in form.fraisDivers %}
                    <li class="nav-item">
                        {{ form_row(fraisDivers.nom)}}
                        {{ form_row(fraisDivers.montant)}}    
                    </li>
                {% endfor %}
                </ul>
            </div>

            <div class="d-flex">
                <button type="submit" class="btn btn-outline-secondary mt-3 mb-3">
                    Créer
                </button>
            </div>
    {{form_end(form)}}
            {% endblock %}

            {% block javascripts %}
            <script>

                window.onload = function(){
                    let btn = document.querySelector('.add_item_link');
                    btn.addEventListener("click", (e)=> addFormToCollection(e));
                    const addPartFormDeleteLink = (item)=>{
                    const removeFormButton = document.createElement('button')
                    removeFormButton.innerText = 'Supprimer ce frais divers'
                    item.append(removeFormButton);
                    removeFormButton.addEventListener('click', (e) => {
                        e.preventDefault()
                        item.remove();
                    });
                    }
                    const addFormToCollection = (e) =>{
                        //console.log("addFormToCollection=>",e);
                            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
                            const item = document.createElement('li');
                            item.innerHTML = collectionHolder
                            .dataset
                            .prototype
                            .replace(
                                /__name__/g,
                                collectionHolder.dataset.index
                            );
                            collectionHolder.appendChild(item);
                            collectionHolder.dataset.index++;
                            addPartFormDeleteLink(item);
                        };
                        const frais = document.querySelector('ul.frais').querySelectorAll('li');
                        frais.forEach((part)=> {
                            addPartFormDeleteLink(part)
                        });
                        
                };


            </script>
            <script src="{{asset('js/devis.js') }}"></script>


            {% endblock %}
            
            