{% extends 'base-admin.html.twig' %}


{% block title %}Nouveau devis{% endblock %}


{% block body %}
<section class="d-flex flex-column align-items-end">
<div class='col-10'>
    {{ include('devis/_form.html.twig') }}
</div>
</section>
{% endblock %}



{% block javascripts %}
<script>
const ongletContact = ()=>{
    $('#navContact a[href=1]').addClass('active');
    $('.contact[id!=1]').addClass('d-none');

    $('#navContact a').on('click', (e)=>{
        e.preventDefault();
        let link = $(e.target).attr('href');
        let id = `#${link}`;
        $('.contact').addClass('d-none');
        $('#navContact a').removeClass('active');
        $(id).removeClass('d-none');
        $(e.target).addClass('active');
    })
}
ongletContact();

</script>
{% endblock %}


