{% extends 'base-admin.html.twig' %}


{% block title %}Devis{% endblock %}

{% block body %}

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('gestion')}}">Gestion</a></li>
                <li class="breadcrumb-item"><a href="{{ path('devis_index')}}">Liste des devis</a></li>
                <li class="breadcrumb-item active" aria-current="page">Détail du devis</li>
                <li  class="breadcrumb-item">  <a href="{{ path('devis_index') }}">Retour</a></li>
            </ol>
    </nav>
    <h1>Devis entreprise</h1>
    <div class="containerTableau">
        <div class="table-responsive-sm">
        <table class="table text-center" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
            <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Formations</th>
                    <th>Nombres de participants</th>
                    <th>Durée (Jours)</th>  
                    <th>Tarif Total</th>  
                    <th>Statut</th>    
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ devi.numeroDevis }}</td>
                    <td>
                        {{ devi.formations.titre }}   
                    </td>
                    <td>{{ devi.nbrParticipants }}</td>
                    <td>{{ devi.nbJours }}</td>
                    {# <td>
                        {% if devi.methode == 1 %}
                            Distanciel
                        {% elseif devi.methode == 2 %}
                            Présenciel                       
                        {% else %}
                            Distanciel & Présenciel                        
                        {% endif %}
                    </td> #}
                    {# <td>

                    {% for fraisDivers in devi.fraisDivers %}
                    {{fraisDivers.montant}}€,
                    {% endfor %}

                    </td>
                    {% if devi.tarifs.ttc is defined and devi.tarifs.ttc is not null %}

                    </td>

                {% endif %}  #}
                <td>
                    {{devi.tarifs.ttc}}€
                </td>
                    <td>
                        {% if devi.statut == 0 %}
                            <span class="text-primary">
                                En cours
                            </span>
                        {% elseif devi.statut == 1 %}
                            <span class="text-success">
                                Accepté
                            </span>
                        {% else %}
                            <span class="text-danger">
                                Rejeté
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('devis_edit', {'id': devi.id}) }}">
                            <i class="far fa-edit"></i>
                        </a>
                        <a href="#" data-bs-toggle="tooltip" title="générer PDF">
                            <i class="far fa-file-pdf"></i>
                        </a>
                        <a href="#" data-bs-toggle="tooltip" title="transformer en facture">
                            <i class="far fa-copy"></i>
                        </a>
                        <a href="{{ path('convention_new_devis',{'id': devi.id}) }}" data-bs-toggle="tooltip" title="éditer convention">
                            <i class="fas fa-file-invoice text-primary"></i>
                        </a>
                        {{ include('devis/_delete_form.html.twig') }}
                    </td>
                </tr>  
            </tbody>
        </table>
        </div>
    </div>
    
{% endblock %}
