{% extends 'base-admin.html.twig' %}


{% block title %}Liste des entreprises{% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb m-1">
            <li class="breadcrumb-item"><a href="{{ path('contact')}}">Contact</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liste complète</li>
        </ol>
    </nav>
    <div class="containerTableau mt-5" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <div class="table-responsive-sm">
        <h1>Liste des entreprises</h1>
        <div class="row mt-3">
            <div class="col-3">
                <a href="{{ path('entreprise_new') }}" class="btn btn-outline-secondary">Ajouter une entreprise</i></a>  
            </div>
            <div class="col-4">
                {# Recherche #}
                    {{ form(form) }}
            </div>
        </div>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>DénominationSociale</th>
                    <th>Siren</th>
                    <th>Site</th>
                    <th>Activité</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entreprise in entreprise %}
                <tr>
                    <td>{{ entreprise.denominationSociale }}</td>
                    <td>{{ entreprise.siret }}</td>
                    <td>{{ entreprise.site }}</td>
                    <td>{{ entreprise.activite }}</td>
                    <td>
                        <a href="{{ path('entreprise_show', {'id': entreprise.id}) }}"data-bs-toggle="tooltip" title="voir"><i class="far fa-eye"></i></a>
                        <a href="{{ path('entreprise_edit', {'id': entreprise.id}) }}"data-bs-toggle="tooltip" title="modifier"><i class="far fa-edit"></i></a>
                        <a href="#"data-bs-toggle="tooltip"  title="document"><i class="far fa-file-alt"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">Aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

{% endblock %}
