{% extends 'base-admin.html.twig' %}


{% block title %}Nouvelle Entreprise{% endblock %}

{% block body %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    
        <ol class="breadcrumb m-1">
            <li class="breadcrumb-item"><a href="{{ path('contact')}}">Contact</a></li>
            <li class="breadcrumb-item"><a href="{{ path('entreprise_index')}}">Liste des entreprises</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajout entreprise</li>
            <li class="breadcrumb-item"><a href="{{ path('entreprise_index') }}">Retour</a></li>
        </ol>
</nav>
    <h1>Ajouter une entreprise</h1>

    {{ include('entreprise/_form.html.twig') }}

    
{% endblock %}
