{% extends 'base-admin.html.twig' %}


{% block title %}Entreprise{% endblock %}

{% block body %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    
        <ol class="breadcrumb m-1">
            <li class="breadcrumb-item"><a href="{{ path('contact')}}">Contact</a></li>
            <li class="breadcrumb-item"><a href="{{ path('entreprise_index')}}">Liste des entreprises</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fiche entreprise</li>
            <li class="breadcrumb-item"><a href="{{ path('entreprise_index') }}">Retour</a></li>
        </ol>
</nav>
<div class="containerTableau mt-5">  
    <div class="card text-dark text-center bg-light mb-3" style="max-width: 20rem; border:1px solid black;">
        <div class="card-header">
            <h2>{{ entreprise.denominationSociale }}</h2>
        </div>
        <div class="card-body text-center">  
            <p class="card-text"><strong>Siret: </strong>{{ entreprise.siret }}</p>
            <p class="card-text"><strong>Site: </strong>{{ entreprise.site }}</p>
            <p class="card-text"><strong>Activité: </strong>{{ entreprise.activite }}</p>
            <div class="text-center">
                <a class="btn btn-outline-secondary" href="{{ path('entreprise_edit', {'id': entreprise.id}) }}">Modifier</a>
                {# {{ include('entreprise/_delete_form.html.twig') }} #}
            </div>    
            
        </div>
    </div> 
<div>
{% endblock %}
