{% block body %}
<div class="col d-flex justify-content-center">
    <div class="formRecherche col-8 mt-5 p-5 d-flex ">
        <div class="col-10">
            {{ form(form) }}
        </div>
        <div class="col-3">
            <button class="btn btn-primary">Rechercher</button>
        </div>
    </div>
</div>
{% endblock  %}