{% block body %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    
        <ol class="breadcrumb m-1">
            <li class="breadcrumb-item"><a href="{{ path('gestion')}}">Gestion</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liste complète</li>
        </ol>
</nav>

    {# {{ include('include/_form_recherche.html.twig') }} #}

{% endblock  %}
