<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %} Pdf convention{% endblock %}
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css" integrity="sha256-u40zn9KeZYpMjgYaxWJccb4HnP0i8XI17xkXrEklevE=" crossorigin="anonymous">
        <link href="../css/stylepdf.css" rel="stylesheet" />

        {% block stylesheets %}{% endblock %}
    </head>

    {% block body %}
    <div class="container">
        <img src="{{ asset("images/logo_pdf/LogoConvention.png") }}" alt="logo" style="">
            <p style="font-size:6px; text-align:center; line-height: 1em; font-weight:bold;">
                CONVENTION DE FORMATION PROFESSIONNELLE
            </p>
            <p style="font-size:6px; text-align:center; line-height: 1em; font-weight:bold;">
                (Articles L. 6353-1 du Code du travail)
            </p>
            <p style="font-size:6px; text-align:center; line-height: 1em; font-weight:bold;">
                Entre les soussignés :
            </p>
            <p style="line-height: 1em"></p>
    </div>
        
        <p style=" font-size:6px; ">
        <strong>KOUROS FORMATION, une marque GRAPHIK CHANNEL,</strong> représenté par <strong>M. Christian MENEUX</strong> , enregistré sous le numéro SIRET 492 486 121 00022, dont le siège social est situé à : 11, Rue Jouye Rouve 75020 PARIS enregistré sous le numéro de déclaration d’activité 11 75 41 542 75 auprès de la Direction Régionale des Entreprises, de la Concurrence, de la Consommation, du Travail et de l’Emploi (DIRECCTE)
<br/>
Et : 
    <strong>
    {{ convention.prospect }}
    </strong> 
    représenté par
    <strong> 
    {% for contact in convention.prospect.contacts %}
        {{ contact.nom }}
        {{ contact.prenom }}
    {% endfor %}
    </strong>  
    , domicilié -
    <strong>
    {% for adresse in convention.prospect.adresses %}
        {{ adresse.numero }}
        {{ adresse.voie }}
        {{ adresse.cp }}
        {{ adresse.ville }}
    {% endfor %}
    </strong>
    et enregistrée sous le n° de Siret : 
    <strong>
    {% if convention.prospect.entreprise.siret is defined and convention.prospect.entreprise.siret is not null %}
        {{ convention.prospect.entreprise.siret }}
    {% endif %}
    </strong>
</p>


        <p style=" font-size:6px; line-height: 8em">Est conclue la convention suivante, en application des dispositions du Livre III de la Sixième partie du Code du travail portant organisation de la formation professionnelle continue.</p>

        <p style=" font-size:6px; font-weight:bold; line-height: 1em">Article 1 – OBJET DE LA CONVENTION </p>

        <p style=" font-size:6px; line-height: 1em">L’Organisme Kouros Formation accueillera les personnes suivantes :</p>

        <ul>
            <li style=" font-size:6px;"><p>Intitulé de l’action de formation : <strong>{{convention.devis.formations.titre}}</strong></p></li>
            <li style=" font-size:6px;"><p>Niveau: <strong>{{convention.devis.formations.niveau}}</strong></p></li>
            <li style=" font-size:6px;"><p>Objectifs opérationnels : Programme et méthodes : joint en annexe 1 (programme).</p></li>
            <li style=" font-size:6px; "><p>Type d’action de formation (article L.6313-1 du Code du travail): <strong>développement des compétences.</strong></p></li>
            <li style=" font-size:6px;"><p>Dates : du <strong>{{ convention.devis.dateDebut|date('d-m-Y') }}</strong> à <strong>{{ convention.devis.dateFin|date('d-m-Y') }}</strong></p></li>
            <li style=" font-size:6px;"><p>Durée : <strong>{{ convention.devis.dureeH }} H</strong></p></li>
            <li style=" font-size:6px;"><p>Lieu :  
                {% if convention.devis.formations.formateurs[0].methode == 1 %}        
                   <strong>Distanciel</strong> 
                {% elseif convention.devis.formations.formateurs[0].methode == 2 %}
                   <strong>Présenciel</strong> 
                {% else %}
                   <strong>Distanciel & Présenciel</strong> 
                {% endif %} 
                </p>
            </li>
        </ul>

        <p style="font-size:6px;"><strong>Le programme détaillé de l’action de formation figure en annexe de la présente convention. 
        </strong></p>
        
        <p style=" font-size:6px; font-weight:bold; line-height: 1em"><strong>Article 2 – Effectif formé</strong></p>
       <p style=" font-size:6px; line-height: 1em">L’Organisme Kouros Formation accueillera les personnes suivantes :</p>


    {% for participant in convention.participants %}   
        <strong style="font-size:6px;">
            {{ participant.contact.nom }}
            {{ participant.contact.prenom }}
        </strong>
    {% endfor %}
    


    
        
        



            
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>