{{ form_start(form, {'attr':{'class':'col-12'}}) }}

<div class="card p-3 mt-3 mb-3">
<h1>AJOUTER UN OPCO</h1>
    <div class="form-entreprise card p-3 mt-4">
        <div class="row">
            <h4>ENTREPRISE :</h4>
            <div class="col-12 col-md-6 my-2">
                {{ form_label(form.entreprise.denominationSociale) }}
                {{ form_widget(form.entreprise.denominationSociale) }}
            </div>
            <div class="col-12 col-md-6 my-2">
                {{ form_label(form.entreprise.activite) }}
                {{ form_widget(form.entreprise.activite) }}
            </div>
            <div class="col-12 col-md-4 my-2">
                {{ form_label(form.entreprise.siret) }}
                {{ form_widget(form.entreprise.siret) }}
            </div>
            <div class="col-3 col-md-4 my-2">
                {{ form_label(form.entreprise.tva) }}
                {{ form_widget(form.entreprise.tva) }}
            </div>
            <div class="col-9 col-md-4 my-2">
                {{ form_label(form.entreprise.numeroIntracommunautaireTva, 'N° intra TVA') }}
                {{ form_widget(form.entreprise.numeroIntracommunautaireTva) }}
            </div>
            
            <h4 class="my-2">ADRESSE :</h4>
            <div class="col-3 col-md-2 my-2">
                {{ form_label(form.adresse.numero, 'Numéro') }}
                {{ form_widget(form.adresse.numero) }}
            </div>
            <div class="col-9 col-md-10 my-2">
                {{ form_label(form.adresse.voie) }}
                {{ form_widget(form.adresse.voie) }}
            </div>
            <div class="col-12 col-md-5 my-2">
                {{ form_label(form.adresse.complementaire, 'Complément d\'adresse') }}
                {{ form_widget(form.adresse.complementaire) }}
            </div>
            <div class="col-7 col-md-5 my-2">
            {{ form_label(form.adresse.ville) }}
            {{ form_widget(form.adresse.ville) }}
            </div>
            <div class="col-5 col-md-2 my-2">
                {{ form_label(form.adresse.cp, 'CP') }}
                {{ form_widget(form.adresse.cp) }}
            </div>

            <h4 class="my-2">CONTACT :</h4>
            <div class="col-6 my-2">
                {{ form_label(form.contacts.vars.prototype.nom) }}
                {{ form_widget(form.contacts.vars.prototype.nom) }}
            </div>
            <div class="col-6 my-2">
                {{ form_label(form.contacts.vars.prototype.prenom) }}
                {{ form_widget(form.contacts.vars.prototype.prenom) }}
            </div>
            <div class="col-6 my-2">
                {{ form_label(form.contacts.vars.prototype.tel) }}
                {{ form_widget(form.contacts.vars.prototype.tel) }}
            </div>
            <div class="col-6 my-2">
                {{ form_label(form.contacts.vars.prototype.email) }}
                {{ form_widget(form.contacts.vars.prototype.email) }}
            </div>
        </div>
        <div class="col-8 my-2">
            <button class="btn btn-outline-secondary mt-3 mb-3">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}
