{% extends 'base-admin.html.twig' %}


{% block title %}Liste des OPCO{% endblock %}

{% block body %}

    {# {{ include('include/_form_recherche.html.twig') }} #}
    <div class="row align-items-center">
        <div class="text-center">
            <h1>Liste des OPCO </h1>
        </div>
        <div class="d-flex justify-content">
            <a href="{{ path('opco_new') }}" class="btn btn-outline-success btn-sm btn-block">Ajouter un Opco</i></a>
        </div>
    </div>


    <div class="containerTableau my-3">
        <table class="table table-striped text" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <thead>
            <tr> 
                <th>Entreprise</th>
                {# <th>Contact</th>
                <th>Télephone</th> #}
                <th>Ville</th>
                <th>Code postal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for opco in opcos %}
            <tr> 
                <td>{{ opco.entreprise }}</td>
                {# <td>{{opco.contacts}}</td>
                <td>{{ opco.contacts}} </td> #}
                
                <td>{{ opco.adresse.ville }}</td>
                <td>{{ opco.adresse.cp }}</td> 
                <td>
                    <a href="{{ path('opco_show', {'id': opco.id}) }}"data-bs-toggle="tooltip" title="voir"><i class="far fa-eye  text-primary"></i></a>
                    <a href="{{ path('opco_edit', {'id': opco.id}) }}"data-bs-toggle="tooltip" title="modifier"><i class="far fa-edit  text-primary"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
