{% extends 'base-admin.html.twig' %}


{% block title %}Opco{% endblock %}

{% block body %}
        <nav style="--bs-breadcrumb-divider: '>';"  aria-label="breadcrumb">
            <ol class="breadcrumb m-1">
                <li class="breadcrumb-item"><a href="{{ path('contact')}}">Contact</a></li>
                <li class="breadcrumb-item"><a href="{{ path('opco_index')}}">Liste complète</a></li>
                <li class="breadcrumb-item active" aria-current="page">Fiche prospect</li>
                <li class="breadcrumb-item"><a href="{{ path('opco_index') }}">Retour</a></li>
            </ol>
        </nav>

        <div class="containerTitre">

    
            <h1>{{opco.entreprise}}</h1>
           
        </div>

        <div class="containerTableau">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Nom de contact</th>
                        <th>Prénom de contact</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Adresse</th>
                        <th>Ville</th>
                        <th>CodePostal</th>
                        <th>Tva</th>
                        <th>Site</th>
                        <th>Ape</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                
                   <tr> 
                    {{dump(opco.contacts)}}
                        <td>{{ opco.entreprise.denominationSociale }}</td>
                       
                        {# <td>{{ opco.contacts.nom }}</td>                                                    
                        <td>{{ opco.contacts.prenom }}</td>                    
                        <td>{{ opco.contacts.email }}</td>                   
                        <td>{{ opco.contacts.tel }}</td>  #}
                    
                        <td>{{ opco.adresse.numero }} {{ opco.adresse.voie }}</td>
                        <td>{{ opco.adresse.ville }}</td>
                        <td>{{ opco.adresse.cp }}</td>
                        <td>{{ opco.entreprise.tva }}</td>
                        <td>{{ opco.entreprise.site }}</td>
                        <td>{{ opco.entreprise.ape }}</td>
                        <td>
                            <a href="{{ path('opco_edit', {'id': opco.id}) }}" data-bs-toggle="tooltip" title="modifier"><button type="button" class="btn"><i class="fas fa-user-edit"></i></button>
                            {{ include('opco/_delete_form.html.twig') }}
                        </td>
                    </tr>
                
                    
                 
                </tbody>
        
            
        
    </table>
</div>


    
{% endblock %}
