{# {% dump(prospect.adresses|length) %} #}
{% if prospect.adresses|length == 0 %}
    {% set count = 1 %}
    {% set class = count %}
{% else %}
    {% set count = prospect.adresses|length %}
    {% set class = count + 1 %}
{% endif %}

    <div class="ficheAdresse adresse{{class}} nvAdresse d-none">
        <div class="row form-check form-switch">
            <div class="form-group mt-3">
                <div class="form-check">
                    <input class="form-check-input" id="prospects_adresses_{{count}}_principale_0" name="prospects[adresses][{{count}}][principale]" type="radio" value="1">
                    <label class="form-check-label text-secondary" for="prospects_adresses_{{count}}_principale_0">principale</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="prospects_adresses_{{count}}_principale_1" name="prospects[adresses][{{count}}][principale]" type="radio" value="0"  checked="checked" >
                    <label class="form-check-label text-secondary" for="prospects_adresses_{{count}}_principale_1">autre</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="prospects_adresses_{{count}}_numero" class="required">Numéro</label>
                <input type="text" id="prospects_adresses_{{count}}_numero" name="prospects[adresses][{{count}}][numero]" required="required" maxlength="80" class="form-control">
            </div>
            <div class="col-5">
                <label for="prospects_adresses_{{count}}_voie" class="required">Voie</label>
                <input type="text" id="prospects_adresses_{{count}}_voie" name="prospects[adresses][{{count}}][voie]" required="required" maxlength="80" class="form-control">
            </div>
            <div class="col-1">
                <label for="prospects_adresses_{{count}}_cp">Code Postal</label>
                <input type="text" id="prospects_adresses_{{count}}_cp" name="prospects[adresses][{{count}}][cp]" maxlength="10" class="form-control">
            </div>
            <div class="col-5">
                <label for="prospects_adresses_{{count}}_ville">Ville</label>
                <input type="text" id="prospects_adresses_{{count}}_ville" name="prospects[adresses][{{count}}][ville]" maxlength="20" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="prospects_adresses_{{count}}_complementaire" class="required">Complémentaires</label>
                <input type="complementaire" id="prospects_adresses_{{count}}_complementaire" name="prospects[adresses][{{count}}][complementaire]" placeholder="Étage, digicode, boîte postale,etc..." class="form-control">
            </div> 
            <div class="col">
                <label for="prospects_adresses_{{count}}_region" class="required">Région</label>
                <input type="region" id="prospects_adresses_{{count}}_region" name="prospects[adresses][{{count}}][region]" required="required" class="form-control">
            </div>
            {# <div class="col-6">
                <label for="">Poste</label>
                <input class="form-control" type="text" >
            </div> #}
        </div>
        {# <div class="row"> 
            <div class="col-6">
                <label for="prospects_adresses_{{count}}_commentaires_{{count}}_texte">Commentaires</label>
                <textarea id="prospects_adresses_{{count}}_commentaires_{{count}}_texte" name="prospects[adresses][{{count}}][commentaires][{{count}}][texte]" class="form-control"></textarea>
            </div>
        </div> #}
        {# <button class="btn btn-outline-secondary mt-3">Enregistrer</button> #}
    </div>