{# {% dump(prospect.contacts|length) %} #}
{% if prospect.contacts|length == 0 %}
    {% set count = 1 %}
{% else %}
    {% set count = prospect.contacts|length %}
{% endif %}
{% set class = count + 1 %}
    <div class="ficheContact contact{{class}} nvContact d-none">
        <div class="row form-check form-switch">
            <div class="form-group mt-3">
                <div class="form-check">
                    <input class="form-check-input" id="prospects_contacts_{{count}}_principal_0" name="prospects[contacts][{{count}}][principal]" type="radio" value="1">
                    <label class="form-check-label text-secondary" for="prospects_contacts_{{count}}_principal_0">principal</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="prospects_contacts_{{count}}_principal_1" name="prospects[contacts][{{count}}][principal]" type="radio" value="0"  checked="checked" >
                    <label class="form-check-label text-secondary" for="prospects_contacts_{{count}}_principal_1">autre</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="prospects_contacts_{{count}}_prenom" class="required">Prénom</label>
                <input type="text" id="prospects_contacts_{{count}}_prenom" name="prospects[contacts][{{count}}][prenom]" required="required" maxlength="80" class="form-control">
            </div>
            <div class="col">
                <label for="prospects_contacts_{{count}}_nom" class="required">Nom</label>
                <input type="text" id="prospects_contacts_{{count}}_nom" name="prospects[contacts][{{count}}][nom]" required="required" maxlength="80" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="prospects_contacts_{{count}}_tel">Téléphone</label>
                <input type="text" id="prospects_contacts_{{count}}_tel" name="prospects[contacts][{{count}}][tel]" maxlength="10" class="form-control">
            </div>
            <div class="col">
                <label for="prospects_contacts_{{count}}_mobile">Mobile</label>
                <input type="text" id="prospects_contacts_{{count}}_mobile" name="prospects[contacts][{{count}}][mobile]" maxlength="20" class="form-control">
            </div>
        </div>
        <div class="row"> 
            <div class="col-6">
                <label for="prospects_contacts_{{count}}_email" class="required">Email</label>
                <input type="email" id="prospects_contacts_{{count}}_email" name="prospects[contacts][{{count}}][email]" required="required" class="form-control">
            </div>
            <div class="col-6">
                <label for="">Poste</label>
                <input class="form-control" type="text" >
            </div>
        </div>
        <div class="row"> 
            <div class="col-12">
                <label for="prospects_contacts_{{count}}_Commentaire_texte">Commentaires</label>
                <textarea id="prospects_contacts_{{count}}_Commentaire_texte" name="prospects[contacts][{{count}}][Commentaire][texte]" class="form-control"></textarea>
            </div>
        </div>
        {# <button class="btn btn-outline-secondary mt-3">Enregistrer</button> #}
    </div>