<form method="post" action="{{ path('prospects_delete', {'id': prospect.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prospect.id) }}">
    <button class="btn"><i class="far fa-trash-alt text-danger"></i></button>
</form>
