{{ form_start(form, {'attr':{'class':'col-12'}}) }}


<div class="card p-3 mt-3 mb-3">
 <h1 class="my-2">AJOUTER UN PROSPECT</h1>

{# statut #}
    <div class="d-flex justify-content-between align-items-center">
        <div id="" class="form-prospect-radio row">
            {{ form_label(form.statut, 'Type de compte') }}
            {{ form_widget(form.statut) }}
        </div>
        <a href="{{ path('prospects_new') }}" class="btn btn-outline-secondary btn-sm btn-block text text-secondary" width="20" height="20"><img src="{{ asset('images/icons/undo-solid.svg') }}" width="25" height="25"></a>
    </div>

{# Recherche API Entreprise #}
    <div class="form-entreprise card p-3 mt-4">
        <div class="row">
        <h4 class="my-4">ENTREPRISE</h4>
            <div class="d-flex justify-content-center col-12 col-md-12 my-2">
                <div class="input-group form-outline row">
                    <input type="search" id="searchEntreprise1" class=" col-6 form-control" placeholder="Recherche entreprise par denomination...">
                    <label for="searchEntreprise1" class="col-1 btn border"><i class="fas fa-search"></i></label>
                </div>
            </div>
        </div>

{# Entreprise #}
        <div class="row my-2">
            <div class="col-12 col-md-2 ">
                {{ form_label(form.Entreprise.ape, 'code APE/NAF') }}
                {{ form_widget(form.Entreprise.ape) }}
            </div>
            <div class="col-6 col-md-5">
                {{ form_label(form.Entreprise.denominationSociale) }}
                {{ form_widget(form.Entreprise.denominationSociale) }}
            </div>
            <div class="col-6 col-md-5">
                {{ form_label(form.Entreprise.site) }}
                {{ form_widget(form.Entreprise.site ) }}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12 col-md-2">
                {{ form_label(form.Entreprise.nbsalarie) }}
                {{ form_widget(form.Entreprise.nbsalarie) }}
            </div>
            <div class="col-4 col-md-3"> 
                {# tde 23-08-21 siren changé en SIRET #}
                {{ form_label(form.Entreprise.siret) }}
                {{ form_widget(form.Entreprise.siret) }}
            </div>
            <div class="col-4 col-md-4">
                {{ form_label(form.Entreprise.activite) }}
                {{ form_widget(form.Entreprise.activite) }}
            </div>
            <div class="col-4 col-md-3">
                {{ form_label(form.Entreprise.numeroIntracommunautaireTva) }}
                {{ form_widget(form.Entreprise.numeroIntracommunautaireTva ) }}
            </div> 
        </div>
    </div>

{# Contact #}
    <div class="card p-3 mt-3">
        <h4 class="my-3">CONTACT </h4>
        <ul id="navContact" class="nav nav-tabs mt-3">
            <li class="nav-item">
                <a class="nav-link contact1 active" href="contact1">Contact 1</a>
            </li>
        {% for contact in prospect.contacts %}
            {% if contact.principal != '1' %}
            <li class="nav-item">
                <a class="nav-link contact{{ loop.index }} d-none" href="contact{{ loop.index }}">Contact {{ loop.index }}</a>
            </li>
            {% endif %}
        {% endfor %}
            <li class="nav-item" id="contact">
        {% if prospect.contacts|length == 0 %}
            {% set count = 2 %}
        {% else %}
            {% set count = prospect.contacts|length %}
        {% endif %}
                <a class="nav-link" href="contact{{ count }}" >Ajouter +</a>
            </li>
        </ul>
{# {% dump(prospect.contacts) %} #}
        <div class="ficheContact contact1">
        {# {% set i = 0 %} #}
            <div class="row">
                <div class="form-group mt-3">
                    <div class="form-check form-switch my-2" >
                        {{ form_label(form.contacts.vars.prototype.principal) }}
                        {{ form_widget(form.contacts.vars.prototype.principal) }}
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-6">
                    {{ form_label(form.contacts.vars.prototype.prenom) }}
                    {{ form_widget(form.contacts.vars.prototype.prenom) }}
                </div>
                <div class="col-6">
                    {{ form_label(form.contacts.vars.prototype.nom) }}
                    {{ form_widget(form.contacts.vars.prototype.nom) }}
                </div>
            </div>
            <div class="row my-2">
                <div class="col-6">
                    {{ form_label(form.contacts.vars.prototype.tel) }}
                    {{ form_widget(form.contacts.vars.prototype.tel) }}
                </div>
                <div class="col-6">
                    {{ form_label(form.contacts.vars.prototype.mobile) }}
                    {{ form_widget(form.contacts.vars.prototype.mobile) }}
                </div>
            </div>
            <div class="row my-2"> 
                <div class="col-6">
                    {{ form_label(form.contacts.vars.prototype.email) }}
                    {{ form_widget(form.contacts.vars.prototype.email) }}
                </div>
                <div class="col-6">
                    <label for="poste">Poste</label>
                    <input id="poste" name="poste" class="form-control" type="text" value="ajouter type de contact">
                </div>
            </div> 
            <div class="row my-2"> 
                <div class="col-12">
                    {{ form_label(form.contacts.vars.prototype.Commentaire.texte, "Commentaires") }}
                    {{ form_widget(form.contacts.vars.prototype.Commentaire.texte, {"attr":{"class": "areaContact"}}) }}
                </div>
            </div>
        </div>
        {{ include('prospects/_ajoutContact.html.twig', {"prospect" : prospect}) }}
    </div> 

{# {% dump(prospect) %} #}
{# Localisation #}
    <div class="card p-3 mt-3">
        <h4 class="my-3">LOCALISATION</h4>
        <ul id="navAdresse" class="nav nav-tabs mt-3">
            <li class="nav-item">
                <a class="nav-link adresse1 active" href="adresse1" >Adresse 1</a>
            </li> 
        {% for adresse in prospect.adresses %}
            {% if adresse.principale != '1' %}
           
            <li class="nav-item">
                <a class="nav-link adresse{{ loop.index }} d-none" href="adresse{{ loop.index }}">Adresse {{ loop.index }}</a>
            </li>
            {% endif %}
            
        {% endfor %}
            <li class="nav-item" id="loca">
        {% if prospect.adresses|length == 0 %}
            {% set count = 2 %}
        {% else %}
            {% set count = prospect.adresses|length %}
        {% endif %}
                <a class="nav-link" href="adresse{{ count }}" >Ajouter +</a>
            </li>
        </ul>
{# {% dump(prospect.adresses) %} #}
        <div class="ficheAdresse adresse1">
            {# {% set i = 0 %} #}
            <div class="row my-2">
                <div class="form-group mt-3">
                    <div class="form-check form-switch" >
                    {{ form_label(form.adresses.vars.prototype.principale) }}
                    {{ form_widget(form.adresses.vars.prototype.principale) }}
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-3 col-md-1 my-2">
                    {{ form_label(form.adresses.vars.prototype.numero, 'Numéro') }}
                    {{ form_widget(form.adresses.vars.prototype.numero) }}
                </div>
                <div class="col-9 col-md-5 my-2">
                    {{ form_label(form.adresses.vars.prototype.voie) }}
                    {{ form_widget(form.adresses.vars.prototype.voie) }}
                </div>
                <div class="col-12 col-md-6 my-2">
                    {{ form_label(form.adresses.vars.prototype.complementaire, 'Complémentaires') }}
                    {{ form_widget(form.adresses.vars.prototype.complementaire, {"attr":{"placeholder":"Étage, digicode, boîte postale,etc..."}}) }}
                </div>
                <div class="col-4 col-md-1 my-2">
                    {{ form_label(form.adresses.vars.prototype.cp, 'CP') }}
                    {{ form_widget(form.adresses.vars.prototype.cp) }}
                </div>
                <div class="col-8 col-md-5 my-2">
                    {{ form_label(form.adresses.vars.prototype.ville) }}
                    {{ form_widget(form.adresses.vars.prototype.ville) }}
                </div>
                <div class="col-12 col-md-6 my-2">
                    {{ form_label(form.adresses.vars.prototype.country, 'Pays') }}
                    {{ form_widget(form.adresses.vars.prototype.country) }}
                </div>
            </div>
        </div>
    {{ include('prospects/_ajoutAdresse.html.twig', {"prospect" : prospect}) }}
    </div>
{# Commentaires #}
    <div class="card p-3 mt-3">
        <h4>Informations complémentaires</h4>
        <div class="row">
            <div class="col-12">
                {{ form_label(form.Commentaire.texte, "Commentaires prospect") }}
                {{ form_widget(form.Commentaire.texte, {"attr":{"class": "areaContact"}}) }}
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-outline-secondary mt-3 mb-3">{{ button_label|default('Enregistrer') }}</button>
    </div>
{# {% dump() %} #}
</div>

{{ form_end(form) }}

{# Financement #}
{#        <div class="card p-3 mt-3">
        <h4>Financement</h4>
        <div class="row ">
            <div class="col">
                {{ form_label(form.opco) }}
                <div class="d-flex">
                    {{ form_widget(form.opco) }}
                </div>
                <div class="mt-1">
                    <label>Nouvelle Opco</label>
                    <div>
                        <button class="btn btn-outline-secondary "><a id="searchOpco" class="text-decoration-none link-secondary" href="https://www.opco.fr/liste-des-codes-ape" target="_blank" ><i class="fas fa-search"></i> Rechercher</a></button>
                        <button  id="nvOpco" class="btn btn-outline-secondary">Créer</button>
                    </div>
                </div>
            </div>  
        <div class="col">
                {{ form_label(form.adherent, 'n°adhérent') }}
                {{ form_widget(form.adherent) }}
            </div>
        </div>
    </div>
#}

{# formulaire nv opco #}
{#    <div class="nvOpco card  p-3 mt-3 form-group d-none">
        <div class="d-flex">
            <button id="undoOpco" class="btn btn-outline-secondary">Annuler</button>
        <h3 class="ml-3">Créer un Opco</h3>
        </div>
#}

        {# {{ form_row(form.Opco.vars.prototype.nom) }} #}
{#        <div class="row ">
            <div class="col">
                {{ form_label(form.Opco.vars.prototype.nom) }}
                {{ form_widget(form.Opco.vars.prototype.nom) }}
            </div> 
            <div class="col">
                {{ form_label(form.Opco.vars.prototype.tva) }}
                {{ form_widget(form.Opco.vars.prototype.tva, {'type':'number'}) }}
            </div>
        </div>
        <div class="row ">
            <div class="col">
                {{ form_label(form.Opco.vars.prototype.nomContact) }}
                {{ form_widget(form.Opco.vars.prototype.nomContact) }}
            </div>
            <div class="col">
                {{ form_label(form.Opco.vars.prototype.prenomContact) }}
                {{ form_widget(form.Opco.vars.prototype.prenomContact) }}
            </div>
        </div>
        <div class="row ">
            <div class="col">
                {{ form_label(form.Opco.vars.prototype.adresse) }}
                {{ form_widget(form.Opco.vars.prototype.adresse) }}
            </div>
            <div class="col">
                {{ form_label(form.Opco.vars.prototype.codePostal) }}
                {{ form_widget(form.Opco.vars.prototype.codePostal) }}
            </div>
        </div>
        <div class="row ">
            <div class="col">
                {{ form_label(form.Opco.vars.prototype.ville) }}
                {{ form_widget(form.Opco.vars.prototype.ville) }}
            </div>
            <div class="col">
                <label for="region">region ⚠ à ajouter</label>
                <input type="text" name="region" id="region">région ⚠ à ajouter</input>
            </div>
        </div>
        <div class="row ">
            <div class="col">
                {{ form_label(form.Opco.vars.prototype.tel) }}
                {{ form_widget(form.Opco.vars.prototype.tel) }}
            </div>
            <div class="col">
                <label for="mobile">mobile ⚠ à ajouter</label>
                <input type="text" id="mobile"></input>
            </div>
        </div>
        <div class="row ">
            <div class="col">
                {{ form_label(form.Opco.vars.prototype.email) }}
                {{ form_widget(form.Opco.vars.prototype.email) }}
            </div>
            <div class="col">
                {{ form_label(form.Opco.vars.prototype.site) }}
                {{ form_widget(form.Opco.vars.prototype.site) }}
            </div>
        </div>
    </div>
#}