{{ form_start(form, {'attr':{'class':'col-12'}}) }}
{# boutons d'action #}
    <div class="position-fixed d-flex justify-content-lg-between align-items-start rounded p-2" style="background: white; width: 180px; top: 100px; right: 30px; z-index: 1000;">
        <a class="btn btn-outline-secondary modifier" href="modifier" data-bs-toggle="tooltip" title="vérouiller on/off">
            <img src='/images/icons/lock-solid.svg' width="18" height="18" alt="Vérouiller">
        </a>
        <button type="submit" class="btn btn-outline-secondary" data-bs-toggle="tooltip" title="Enregistrer">
            <img src='/images/icons/check-square-regular.svg' width="20" height="20">
        </button>
        <a href="{{ path('prospects_edit', {'id': prospect.id}) }}" class="btn btn-outline-secondary" data-bs-toggle="tooltip" title="Réinitialiser">
            <img src='/images/icons/undo-solid.svg' width="15" height="15">
        </a>
    </div>
{# {% dump(form) %} #}
<div class="card p-3 mt-3 mb-3">

{# statut #}
    <div class="row">
        {# récup le statut - il est ensuite appliqué en js #}
        {% if prospect.statut == 'Entreprise' %}
            <input id='statut' type="hidden" value='Entreprise'>
        {% else %}
            <input id='statut' type="hidden" value='Particulier'>
        {% endif %}

        <div class="col-12 form-prospect-radio row">
            {{ form_label(form.statut, 'Type de compte') }}
            {{ form_widget(form.statut, ) }}
        </div>
    </div>

{# Entreprise #}
    <div class="form-entreprise card p-3 mt-3">
        <div class="row">
            <div>
                <h4 class="d-inline-flex">Entreprise</h4>
            </div>
            <div class="col-6">
                {{ form_label(form.Entreprise.denominationSociale) }}
                {{ form_widget(form.Entreprise.denominationSociale, (prospect.statut == 'Entreprise' ? {"attr":{"value":prospect.entreprise.denominationSociale}} : {}) ) }}
            </div>
            <div class="col-3"> 
                {# tde 23-08-21 siren changé en SIRET #}
                {{ form_label(form.Entreprise.siret) }}
                {{ form_widget(form.Entreprise.siret, (prospect.statut == 'Entreprise' ? {"attr":{"value":prospect.entreprise.siret}} : {})) }}
            </div>
            <div class="col-3">
                {{ form_label(form.Entreprise.ape, 'APE/NAF') }}
                {{ form_widget(form.Entreprise.ape, (prospect.statut == 'Entreprise' ? {"attr":{"value":prospect.entreprise.ape}} : {})) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_label(form.Entreprise.activite) }}
                {{ form_widget(form.Entreprise.activite, (prospect.statut == 'Entreprise' ? {"attr":{"value":prospect.entreprise.activite}} : {})) }}
            </div>
            
            
            <div class="col-3">
                {{ form_label(form.Entreprise.nbsalarie) }}
                {{ form_widget(form.Entreprise.nbsalarie, (prospect.statut == 'Entreprise' ? {"attr":{"value":prospect.entreprise.nbSalarie}} : {})) }}
            </div>
            <div class="col-3">
                {{ form_label(form.Entreprise.numeroIntracommunautaireTva) }}
                {{ form_widget(form.Entreprise.numeroIntracommunautaireTva,(prospect.statut == 'Entreprise' ? {"attr":{"value":prospect.entreprise.tva}} : {})) }}
            </div> 
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_label(form.Entreprise.site) }}
                {{ form_widget(form.Entreprise.site, (prospect.statut == 'Entreprise' ? {"attr":{"value":prospect.entreprise.site}}  : {})) }}
            </div>
        </div>
    </div>

{# Contact #}
    <div class="card p-3 mt-3">
        <h4>Contact </h4>
        <ul id="navContact" class="nav nav-tabs mt-3">
        {% for contact in prospect.contacts %}
            {% if contact.principal == '1' %}
            <li class="nav-item">
                <a class="nav-link contact{{ loop.index }} active" href="contact{{ loop.index }}">Contact {{ loop.index }}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link contact{{ loop.index }}" href="contact{{ loop.index }}">Contact {{ loop.index }}</a>
            </li>
            {% endif %}
        {% endfor %}
            <li class="nav-item">
        {% set count = prospect.contacts|length + 1 %}
                <a class="nav-link " href="contact{{ count }}" >Ajouter +</a>
            </li>
        </ul>

        {% for contact in prospect.contacts %}
        {% if loop.index == 1 %} {% set dnone = "" %} {% else %} {% set dnone = "d-none" %} {% endif %}
        {% set i = loop.index - 1 %}
        <div class="ficheContact contact{{ loop.index }} {{dnone}}" >

            <div class="row">
                <div class="form-group mt-3">
                    <div class="form-check form-switch" >
                        {{ form_label(form.contacts[i].principal) }}
                        {{ form_widget(form.contacts[i].principal) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_label(form.contacts[i].prenom) }}
                    {{ form_widget(form.contacts[i].prenom) }}
                </div>
                <div class="col">
                    {{ form_label(form.contacts[i].nom) }}
                    {{ form_widget(form.contacts[i].nom) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_label(form.contacts[i].tel) }}
                    {{ form_widget(form.contacts[i].tel) }}
                </div>
                <div class="col">
                    {{ form_label(form.contacts[i].mobile) }}
                    {{ form_widget(form.contacts[i].mobile) }}
                </div>
            </div>
            <div class="row"> 
                <div class="col-6">
                    {{ form_label(form.contacts[i].email) }}
                    {{ form_widget(form.contacts[i].email) }}
                </div>
                <div class="col-6">
                    <label for="">Poste</label>
                    <input class="form-control" type="text" value="ajouter type de contact">
                </div>
            </div> 
            <div class="row"> 
                <div class="col-12">
                    {{ form_label(form.contacts[i].Commentaire.texte, "Commentaires") }}
                    {{ form_widget(form.contacts[i].Commentaire.texte, {"attr":{"class": "areaContact"}}) }}
                </div>
            </div>
        </div>
        {% endfor %}
        {{ include('prospects/_ajoutContact.html.twig', {"prospect" : prospect}) }}
    </div> 

{# Localisation #}
    <div class="card p-3 mt-3">
        <h4>Localisation</h4>
        <ul id="navAdresse" class="nav nav-tabs mt-3">
        {% for adresse in prospect.adresses %} 
            {% if adresse.principale == '1' %} 
            <li class="nav-item">
                <a class="nav-link adresse{{ loop.index }} active" href="adresse{{ loop.index }}">Adresse {{ loop.index }}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link adresse{{ loop.index }}" href="adresse{{ loop.index }}">Adresse {{ loop.index }}</a>
            </li>
            {% endif %}
        {% endfor %}
            <li class="nav-item">
        {% set count = prospect.adresses|length + 1 %}
                <a class="nav-link " href="adresse{{ count }}" >Ajouter +</a>
            </li>
        </ul>

        {% for adresse in prospect.adresses %}
        {% if loop.index == 1 %} {% set dnone = "" %} {% else %} {% set dnone = "d-none" %} {% endif %}
        {% set i = loop.index - 1 %}
        <div class="ficheAdresse adresse{{ loop.index }} {{dnone}}" >

        <div class="row ">
            <div class="form-group mt-3">
                <div class="form-check form-switch" >
                    {# <input class="form-check-input" id="AdressePrincipale" name="AdressePrincipale" type="radio" checked value='1'>
                    <label class="form-check-label text-secondary" for="AdressePrincipale" >Principale</label> #}
                    {{ form_label(form.adresses[i].principale) }}
                    {{ form_widget(form.adresses[i].principale) }}
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-1">
                {{ form_label(form.adresses[i].numero, 'Numéro') }}
                {{ form_widget(form.adresses[i].numero, {"attr":{"value":adresse.numero}}) }}
            </div>
            <div class="col-5">
                {{ form_label(form.adresses[i].voie) }}
                {{ form_widget(form.adresses[i].voie, {"attr":{"value":adresse.voie}}) }}
            </div>
            <div class="col-1">
                {{ form_label(form.adresses[i].cp, 'Code Postal') }}
                {{ form_widget(form.adresses[i].cp, {"attr":{"value":adresse.cp}}) }}
            </div>
            <div class="col-5">
                {{ form_label(form.adresses[i].ville) }}
                {{ form_widget(form.adresses[i].ville, {"attr":{"value":adresse.ville}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_label(form.adresses[i].complementaire, 'Complémentaires') }}
                {{ form_widget(form.adresses[i].complementaire, {"attr":{"value":adresse.complementaire}}) }}
            </div>
            <div class="col">
                {{ form_label(form.adresses[i].region, "Région") }}
                {{ form_widget(form.adresses[i].region, {"attr":{"value":adresse.region}}) }}
            </div>
        </div>
    </div>
        {% endfor %}
        {{ include('prospects/_ajoutAdresse.html.twig', {"prospect" : prospect}) }}
    </div> 

{# Commentaires #}
    <div class="card p-3 mt-3">
        <h4>Informations complémentaires</h4>
        <div class="row">
            <div class="col-12">
                {{ form_label(form.Commentaire.texte, "Commentaires") }}
                {{ form_widget(form.Commentaire.texte, {"attr":{"class": "areaContact"}}) }}
            </div>
        </div>
    </div>


</div>



{{ form_end(form) }}

