{% extends 'base-admin.html.twig' %}


{% block title %}Modifications{% endblock %}

{% block body %}



    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb m-1">
            <li class="breadcrumb-item"><a href="{{ path('contact')}}">Contact</a></li>
            <li class="breadcrumb-item"><a href="{{ path('prospects_index')}}">Liste complète</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fiche client</li>
            <li class="breadcrumb-item"><a href="{{ path('prospects_index')}}">Retour</a></li>      
        </ol>
    </nav>
            <h2 class="d-inline-flex">Fiche prospect</h2>
    <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-dark active" id="home-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="home" aria-selected="true">
                            Fiche Prospect                                      
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-dark" id="devis-tab" data-bs-toggle="tab" data-bs-target="#devis" type="button" role="tab" aria-controls="devis" aria-selected="false">
                            Devis                                      
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-dark" id="conventions-tab" data-bs-toggle="tab" data-bs-target="#conventions" type="button" role="tab" aria-controls="conventions" aria-selected="false">
                            Conventions                                      
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-dark" id="factures-tab" data-bs-toggle="tab" data-bs-target="#factures" type="button" role="tab" aria-controls="factures" aria-selected="false">
                            Factures                                      
                        </button>
                    </li>
                    
                </ul>
            </div>
    
        <div class="tab-content p-3" id="myTabContent">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="home-tab">
            {{ include('prospects/_formEdit.html.twig', {'button_label': 'Modifier'}) }}
            </div>
            <div class="tab-pane fade" id="devis" role="tabpanel" aria-labelledby="devis-tab">
            
                <div class="containerTableau">
                    <table class="table table-striped text-center" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
                        <thead>
                            <tr>
                                <th>Numéro</th>
                                <th>Formations</th>
                                <th>Nombres de participants</th>  
                                <th>Durée (jours)</th>
                                <th>Tarif total</th>  
                                <th>Satut</th>    
                                <th>Actions</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for devi in prospect.devis %}
                            <tr>
                                
                                <td>{{ devi.numeroDevis }}</td>
                                <td>{{ devi.formations.titre }}</td>
                                <td>{{ devi.nbrParticipants }}</td>
                                <td>{{ devi.nbJours }}</td>
                                {% if devi.tarifs.ttc is defined and devi.tarifs.ttc is not null %}
                                <td>{{ devi.tarifs.ttc }}</td>
                                {% endif %}
                                {# <td>
                                    {% if devi.methode == 1 %}
                                        Distanciel
                                    {% elseif devi.methode == 2 %}
                                        Présenciel                       
                                    {% else %}
                                        Distanciel & Présenciel                        
                                    {% endif %}
                                </td> #}
                                {# <td>{{ devi.fraisAnnexes }}</td> #}
                                <td>
                                    {% if devi.statut == 0 %}
                                        <span class="text-primary">
                                            En cours
                                        </span>
                                    {% elseif devi.statut == 1 %}
                                        <span class="text-success">
                                            Accepté
                                        </span>
                                    {% else %}
                                        <span class="text-danger">
                                            Rejeté
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('devis_edit', {'id': devi.id}) }}">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a href="#" data-bs-toggle="tooltip" title="générer PDF">
                                        <i class="far fa-file-pdf"></i>
                                    </a>
                                    <a href="#" data-bs-toggle="tooltip" title="transformer en facture">
                                        <i class="far fa-copy"></i>
                                    </a>
                                    <a href="{{ path('convention_new_devis',{'id': devi.id}) }}" data-bs-toggle="tooltip" title="éditer convention">
                                        <i class="fas fa-file-invoice text-primary"></i>
                                    </a>
                                    {{ include('devis/_delete_form.html.twig') }}
                                </td>
                                
                            </tr>
                             {% endfor %} 
                        </tbody>
                    </table>
                </div>
            
            </div>
            <div class="tab-pane fade" id="conventions" role="tabpanel" aria-labelledby="conventions-tab">
    
                <div class="containerTableau">
                    <table class="table" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
                        <thead>
                            <tr>
                                <th>Numéro Devis</th>
                                <th>Ville</th>
                                <th>Durée</th>
                                <th>Période de stage</th>
                                <th>Création</th>
                                <th>Lieu de formation</th>
                                <th>Nombre de participant</th>
                                <th>Commentaire</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{dump(prospect.conventions|length)}}
                            {% for convention in prospect.conventions %}
                            <tr>
                                <td>{{ convention.devis.numeroDevis }}</td>
                                {% for adresse in convention.prospect.adresses %}
                                <td>{{ adresse.ville }}</td>
                                {% endfor %}
                                <td>{{ convention.devis.dureeH }} Heures</td>
                                <td>{{ convention.devis.dateDebut|date('d-m-Y') }} à {{ convention.devis.dateFin|date('d-m-Y') }}</td>
                                <td>{{ convention.devis.dateCreation|date('d-m-Y')  }}</td>
                                <td>{{ convention.lieuFormation }}</td>
                                <td>{{ convention.devis.nbrParticipants }}</td>
                                <td>{{ convention.commentaire }}</td>
                                <td> 
                                    <a href="{{ path('conventions_edit', {'id': convention.id}) }}"data-bs-toggle="tooltip" title="modifier"> <button class="btn"><i class="fas fa-user-edit"></i></button></a>
                                    {{ include('conventions/_delete_form.html.twig') }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
            <div class="tab-pane fade" id="factures" role="tabpanel" aria-labelledby="factures-tab">
            <h1>Mes factures</h1> 
            </div>
        
        </div>
    </div>

    




{% endblock %}


{% block javascripts %}
    <script>
        //19-08-21 tde : 
        // AJOUTE/RETIRE CHAMPS SPECIFIQUES ENTREPRISE
        $(document).ready(function(){ 

            const OriginalStatut = ()=>{
            //applique le bon statut aux boutons radio et cache entreprise
                if($('#statut').val() == 'Entreprise'){
                    $('#prospects_statut_0').prop('checked', true);
                    $('#prospects_statut_0').attr('checked', 'checked');
                    $('#prospects_statut_1').removeAttr('checked');
                } else{
                    $('#prospects_statut_1').prop('checked', true);
                    $('#prospects_statut_1').attr('checked', 'checked');
                    $('#prospects_statut_0').removeAttr('checked');
                    $('.form-entreprise').addClass('d-none');
                }
            }

            const upDateStatut = ()=>{
            //GERE LE CHANGEMENT DE STATUT ET L'AFFICHAGE DES CHAMPS ENTREPRISE
                $('input[name="prospects[statut]"]').change(function(){ 
                    $('.form-entreprise').toggleClass('d-none');
                    //je fais un toggle des requireds
                    ($('.form-entreprise input:text').attr('required')) ? $('.form-entreprise input:text').removeAttr('required') : $('.form-entreprise input:text').attr('required', 'required');
                    //ce champ n'est jamais obligatoire
                    $('#prospects_Entreprise_nbsalarie').removeAttr('required');
                });
                //fait réapparaitre les champs entreprise en cas de changement de statut
                $('[id^=prospects_statut').on('change',()=>{
                    if($('#prospects_statut_0').prop('checked') == true){
                        $('.form-entreprise').removeClass('d-none');
                        $('[id^=prospects_Entrepise').attr('required', true);
                    } else{
                        //suppression info dans entreprise avec demande accors avant
                        if($('.form-entreprise input:text').val() == '' ){
                            $('.form-entreprise').addClass('d-none');
                            $('[id^=prospects_Entrepise').removeAttr('required');
                        }else if(window.confirm("Voulez-vous supprimer les données dans les champs entreprise ?")){
                            $('.form-entreprise input').val('')
                            $('.form-entreprise').addClass('d-none');
                            $('[id^=prospects_Entrepise').removeAttr('required');
                        }
                    }
                })
            }

            const lockInputs = ()=>{
            //dévérouille les inputs
                $('input').attr('disabled', 'disabled');
                $('.modifier').on('click',(e)=>{
                    e.preventDefault();
                    if($('input').attr('disabled') == 'disabled'){
                        $('input').removeAttr('disabled');
                        $('.modifier img').attr('alt','Vérouiller')
                        $('.modifier img').attr('src','/images/icons/unlock-solid.svg')
                    } else{
                        $('input').attr('disabled', 'disabled');
                        $('.modifier img').attr('alt','Modifier')  
                        $('.modifier img').attr('src','/images/icons/lock-solid.svg')
                    }
                })
            }

            const nav = (name)=>{
            //navigation onglets contact
                $(`#nv${name}`).toggleClass('d-none');
                $(`.fiche${name} input`).removeAttr('required');
                //écouteur sur navigation
                $(`#nav${name} li a`).on('click', (e)=>{
                    e.preventDefault();
                    //récup le href pour savoir qui afficher/cacher
                    let classeCible = `.${$(e.target).attr('href')}`;
                    $(`#nav${name} li a`).removeClass('active');
                    $(`.fiche${name}`).addClass('d-none');
                    $(e.target).addClass('active');
                    $(classeCible).removeClass('d-none');
                })
            }

            const unusedInputs = ()=>{
            //supprime les champs en trop et les rends non obligatoires
                $('fieldset').addClass('d-none');
                $('fieldset').removeAttr('required');
            }

            const removeDisabled = ()=>{
            //retire disabled à la soumission sinon les valeurs ne sont pas transmises
                $('form').on('submit',(e)=>{
                    $('form input').removeAttr('disabled');
                })
            }

            //lance les fonctions
            const initEditProspect = ()=>{
                OriginalStatut();
                upDateStatut();
                lockInputs();
                //navContact();
                nav('Contact');
                nav('Adresse');
                unusedInputs();
                removeDisabled();
                majPrincipal('contact'); //fonction généralisée à appeler dans les formulaire ou c'est nécéssaire
                majPrincipal('adresse'); //fonction généralisée à appeler dans les formulaire ou c'est nécéssaire
                commentaire();
            }
        initEditProspect();
        })//fin de ready




    </script>
{% endblock %}