{% extends 'base-admin.html.twig' %}

{% block title %}Liste Prospects {% endblock %}

{% block body %}
    <div>

        {{ include('include/_contact.html.twig') }}
        <div class="row align-items-center">
            <div class="text-center">
                <h1>Liste des prospects </h1>
            </div>
            <div class=" d-flex justify-content">
                <div class="table-responsive-sm">
                <a href="{{ path('prospects_new') }}" class="btn btn-outline-success btn-sm  ">Ajouter un prospect</a>
            </div>
        </div>
        <table class="table" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="6" >
            <thead>
                <tr>
                    <th>Statut</th>
                    <th>Dénomination</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Téléphone</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Ville</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for prospect in prospects %}
                <tr>
                    <td>
                    {% if prospect.statut == 'Entreprise' %}
                        <img src="{{ asset('images/icons/building-regular.svg') }}" alt="Entreprise" width="20">

                    {% else %}  
                        <img src="{{ asset('images/icons/user-regular.svg') }}" alt="Particulier" width="20">
                    {% endif %}
                    </td>
                    <td> {% if prospect.statut == 'Entreprise' %} {{prospect.entreprise.denominationSociale}} {% else %} --- {% endif %} </td>

                    {% for contact in prospect.contacts %}
                        {% if contact.principal == '1' %}
                            <td> {% if contact.nom != null %} {{contact.nom}} {% else %} --- {% endif %} </td>
                            <td> {% if contact.prenom != null %} {{contact.prenom}} {% else %} --- {% endif %} </td>
                            <td> {% if contact.tel != null %} {{contact.tel}} {% else %} --- {% endif %} </td>
                            <td> {% if contact.mobile != null %} {{contact.mobile}} {% else %} --- {% endif %} </td>
                            <td> {% if contact.email != null %} {{contact.email}} {% else %} --- {% endif %} </td>
                        {% endif %}
                    {% endfor %}
                    <td> {% for  adresse in prospect.adresses %} 
                            {% if adresse.principale == '1' %}
                                {{adresse.ville}} 
                            {% endif %}
                    {% endfor %} </td>
                        

                    <td class="d-flex">

                        {# <a href="{{ path ('prospects_show', {'id': prospect.id}) }}"  data-bs-toggle="tooltip" title="voir fiche prospect"> <button type="button" class="btn">
                            <i class="far fa-eye text-primary"></i></button>
                        </a> #}
                        {# <a href="{{ path('prospects_edit', {'id': prospect.id}) }}" data-bs-toggle="tooltip" title="modifier"><button type="button" class="btn"><i class="fas fa-user-edit text-primary"></i></button>
                        </a> #}
                        <a href="{{ path('prospects_edit', {'id': prospect.id}) }}" data-bs-toggle="tooltip" title="voir / modifier">
                            <button type="button" class="btn"><i class="far fa-eye text-primary"></i></button>
                        </a>
                        <a href="{{ path('devis_new_prospect',{'id': prospect.id}) }}" data-bs-toggle="tooltip" title="créer le devis">
                            <button type="button" class="btn"><i class="fas fa-edit text-primary"></i></button>
                        </a> 
                        
                        <a href="{{ path('devis_index',{'id': prospect.id}) }}" data-bs-toggle="tooltip" title="Devis en cours">
                            <button type="button" class="btn"><i class="fas fa-folder-open text-primary"></i></button>
                        </a> 
                        {# <form method="post" action="{{ path('prospects_migration', {'id': prospect.id}) }}" onsubmit="return confirm('Migration du prospect en client ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('prospects_migration' ~ prospect.id) }}">
                            <button class="btn" data-bs-toggle="tooltip" title="Transformer en client" ><i class="fas fa-user-check text-primary"></i></button>
                        </form> #}
                        
                        </div> 
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

{# 
    <div class="row justify-content-center">
        <div class="card text-center col-10">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Statut</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Tel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prospect in prospects %}
            {% if prospect.etat == 0 %}
            <tr>
                <td>
                {% if prospect.statut == 1%}
                Entreprise
                {% else %}
                particulier
                {% endif %}
                </td>
                <td>{{ prospect.nom }}</td>
                <td>{{ prospect.prenom }}</td>
                <td>{{ prospect.email }}</td>
                <td>{{ prospect.tel }}</td>
                <td> #}
                    <!-- Full screen modal -->
                    {# <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1"data-bs-toggle="tooltip" title="voir fiche prospect">
                    <i class="far fa-eye"></i>
                    </button> #}
                    <!-- Modal -->
                    {# <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">Fiche prospect</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                    <div class="modal-body">
                                        <h1>{{prospect.nom}} {{prospect.prenom}}</h1>
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <th>Statut</th>
                                                    <td>
                                                    {% if prospect.statut == 1 %}
                                                    Entreprise
                                                    {% else %}
                                                    Particulier
                                                    {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Nom</th>
                                                    <td>{{ prospect.nom }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Prenom</th>
                                                    <td>{{ prospect.prenom }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Mail</th>
                                                    <td>{{ prospect.email }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Tel</th>
                                                    <td>{{ prospect.tel }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Adresse</th>
                                                    <td>{{ prospect.adresse }}</td>
                                                </tr>
                                                <tr>
                                                    <th>CodePostal</th>
                                                    <td>{{ prospect.codePostal }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Ville</th>
                                                    <td>{{ prospect.ville }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Site</th>
                                                    <td>{{ prospect.site }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="d-flex justify-content-center">
                                        <a href="{{ path('prospects_edit', {'id': prospect.id}) }}"data-bs-toggle="tooltip" title="modifier"><button type="button" class="btn"><i class="fas fa-user-edit"></i></button></a>
                                        {{ include('prospects/_delete_form.html.twig') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  #}

                    
                    
                    {# fin test #}
                    {#<a href="{{ path('prospects_edit', {'id': prospect.id}) }}"data-bs-toggle="tooltip" title="modifier"><button type="button" class="btn"><i class="fas fa-user-edit"></i></button></a>
                    <a href="{{ path('devis_new_prospect',{'id': prospect.id}) }}"data-bs-toggle="tooltip" title="créer le devis"><button type="button" class="btn"><i class="fas fa-edit"></i></button></a>
                    <!-- Button trigger modal -->
                    {# <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"data-bs-toggle="tooltip" title="migrer en client">
                    <i class="fas fa-user-plus"></i>
                    </button> #}
                    <!-- Modal -->
                    {# <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Transformer en client</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Souhaitez vous confirmer la migration du prospect {{prospect.nom}} {{prospect.prenom}} en client?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    <a href="{{ path('prospects_migration',{'id': prospect.id})}}"data-bs-toggle="tooltip" title="migrer en client"><button type="button" class="btn btn-success">Oui</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table> #}


{% endblock %}
{% block javascripts %}
    <script>
        var popover = new bootstrap.Popover(document.querySelector('.example-popover'), {
  container: 'body'
})

    </script> 
{% endblock %}

