{% extends 'base-admin.html.twig' %}


{% block title %}Nouveau prospect{% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb m-1 my-3">
            <li class="breadcrumb-item"><a href="{{ path('contact')}}">Contact</a></li>
            <li class="breadcrumb-item"><a href="{{ path('prospects_index')}}">Liste complète</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajout</li>
            <li class="breadcrumb-item active"><a href="{{ path('prospects_index') }}">Retour</a></li>
        </ol>
    </nav>
    

{{ include('prospects/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script>

        //19-08-21 tde : 
        // AJOUTE/RETIRE CHAMPS SPECIFIQUES ENTREPRISE
        $(document).ready(function()
            { 
                //inactive champs entreprise
                const removeEntreprise = ()=>{
                $('.form-entreprise').addClass('d-none');
                $('.form-entreprise input').attr('disabled','true');
                $('.form-entreprise input').removeAttr('required');
                $('.form-entreprise input').val(null)
                }
                //restaure champs entreprise
                const addEntreprise = ()=>{
                    $('.form-entreprise').removeClass('d-none');
                    $('.form-entreprise input').removeAttr('disabled');
                    $('.form-entreprise input').attr('required', 'true');
                }

                const removeContact = ()=>{
                    $('#contact').addClass('d-none');
                    $('#contact a').attr('disabled', 'true');
                    $('#contact a').removeAttr('required');
                    $('#contact a').val(null)
                }

                const addContact = ()=>{
                    $('#contact').removeClass('d-none');
                    $('#contact a').removeAttr('disabled');
                    $('#contact a').attr('required', 'true');
                }

                const removeLocalisation = ()=>{
                    $('#loca').addClass('d-none');
                    $('#loca a').attr('disabled', 'true');
                    $('#loca a').removeAttr('required');
                    $('#loca a').val(null)
                }

                const addLocalisation = ()=>{
                    $('#loca').removeClass('d-none');
                    $('#loca a').removeAttr('disabled');
                    $('#loca a').attr('required', 'true');
                }

                //gère les actions sur les champs entreprise
                const inputsEntreprise = ()=>{
                    //cache les champs entreprise
                    $('input[name="prospects[statut]"]').on('change',()=>{ 
                        if($('#prospects_statut_0').prop('checked') == true){
                            addEntreprise();
                        }else{
                            if($('.form-entreprise input').val() == '' ){
                                removeEntreprise();
                            }else if(window.confirm("Voulez-vous supprimer les données dans les champs entreprise ?")){
                                removeEntreprise();
                            }else{
                                $('#prospects_statut_0').prop('checked', 'true');
                                $('#prospects_statut_0').focus();
                            }
                        }
                    });
                }

                const inputsAjouter = ()=>{
                    //cache le ajouter
                    $('input[name="prospects[statut]"]').on('change',()=>{ 
                        if($('#prospects_statut_0').prop('checked') == true){
                            addContact();
                        }else{
                            if($('#contact a').val() == '' ){
                                removeContact();
                            }else if(window.confirm("Voulez-vous supprimer les données dans les champs entreprise ?")){
                                removeContact();
                            }else{
                                $('#prospects_statut_0').prop('checked', 'true');
                                $('#prospects_statut_0').focus();
                            }
                        }
                    });
                }

                const inputsLocalisation = ()=>{
                    //cache le ajouter
                    $('input[name="prospects[statut]"]').on('change',()=>{ 
                        if($('#prospects_statut_0').prop('checked') == true){
                            addLocalisation();
                        }else{
                            if($('#contact a').val() == '' ){
                                removeLocalisation();
                            }else if(window.confirm("Voulez-vous supprimer les données dans les champs entreprise ?")){
                                removeLocalisation();
                            }else{
                                $('#prospects_statut_0').prop('checked', 'true');
                                $('#prospects_statut_0').focus();
                            }
                        }
                    
                        });
                }

                //NAVIGATION CONTACTS ET ADRESSES + AJOUT
                const navAjout = (name)=>{
                    //gère la majuscule du camelcase
                    const maj = name.substr(0,1).toUpperCase();
                    const min = name.substr(1,name.length);
                    const nomMaj = maj.concat(min);

                    //fait apparaitre ou disparaitre et retire required (sinon bloque à la soumission même en d-none)
                    $(`#nv${nomMaj}`).toggleClass('d-none');
                    $(`.fiche${nomMaj} input`).removeAttr('required');
                    
                    //itère les éléments inputs pour les renommer
                    $(`.${name}1 input`).each((index, input)=>{
                    //modifie les id des inputs dans ${nom}
                        let originalId = $(input).attr('id');
                        let id = (originalId) && originalId.replace('__name__','0');
                        $(input).attr('id', id);
                    //modifie les names des inputs dans ${nom}
                        let originalName = $(input).attr('name');
                        let name = (originalName) && originalName.replace('__name__','0');
                        $(input).attr('name', name);
                    })

                    //maj les labels
                    $(`.${name}1 label`).each((index, label)=>{
                    //modifie les for des labels dans ${nom}
                        let originalLabel = $(label).attr('for');
                        let attrFor = (originalLabel) && originalLabel.replace('__name__','0');
                        $(label).attr('for', attrFor);
                    })

                    //itère les éléments textarea pour les renomer
                    $(`.${name}1 textarea`).each((index, textarea)=>{
                    //modifie les id des inputs dans ${nom}
                        let originalId = $(textarea).attr('id');
                        let id = (originalId) && originalId.replace('__name__','0');
                        $(textarea).attr('id', id);
                    //modifie les names des textareas dans ${nom}
                        let originalName = $(textarea).attr('name');
                        let name = (originalName) && originalName.replace('__name__','0');
                        $(textarea).attr('name', name);
                    })

                    //défini ${nom} 1 comme principal par défaut
                    $(`#prospects_${name}s_0_principal_0`).attr('checked', 'checked');
                    $(`#prospects_${name}s_0_principale_0`).attr('checked', 'checked');

                    //écouteur sur navigation onglets
                    $(`#nav${nomMaj} li a`).on('click', (e)=>{
                        e.preventDefault();
                        //récup le href pour savoir qui afficher/cacher
                        let classeCible = `.${$(e.target).attr('href')}`;
                        //maj affichage
                        $(`#nav${nomMaj} li a`).removeClass('active');
                        $(`.fiche${nomMaj}`).addClass('d-none');
                        $(e.target).addClass('active');
                        $(classeCible).removeClass('d-none');
                    })
                }

                //lance les fontions de la page
                const initFunctions = ()=>{
                    inputsEntreprise();
                    inputsAjouter();
                    inputsLocalisation();
                    navAjout('contact');
                    navAjout('adresse');
                    majPrincipal('contact'); //fonction généralisée à appeler dans les formulaire ou c'est nécéssaire
                    majPrincipal('adresse'); //fonction généralisée à appeler dans les formulaire ou c'est nécéssaire 
                    commentaire();
                }
                initFunctions();

            }
        ) 
        //fin window ready



            //23-08-21 tde : 
            // AJOUTE CHAMPS NVOPCO
            $('#nvOpco').click(function(e){
                e.preventDefault();
                $('.nvOpco').removeClass('d-none');
                //je fais un toggle de required
                $('.nvOpco input').attr('required', 'required');
            }); 
            //RETIRE CHAMPS NVOPCO
            $('#undoOpco').click(function(e){
                e.preventDefault();
                $('.nvOpco').toggleClass('d-none');
                //je fais un toggle de required
                $('.nvOpco input').removeAttr('required')
            });
        

            //30-08-21 tde : 
            //bouton #nvContact 
            //champs #addContact
            //AJOUTE/RETIRE CHAMPS CONTACT SUPPLEMENTAIRE
            $('#nvContact').click((e)=>{
                e.preventDefault();
                //toggle sur le bouton +/- 
                if($('#nvContact img').attr('alt') == ('-')){
                    $('#nvContact img').remove();
                    $('#nvContact').append('<img src="/images/icons/file-plus.svg" alt="+" width="25">');
                    //suppr required pour prob soumission
                    $('#addContact input').removeAttr('required');
                } else{
                    $('#nvContact img').remove();
                    $('#nvContact').append('<img src="/images/icons/file-minus.svg" alt="-" width="25">');
                    $('#addContact input').attr('required', 'required');
                }
                $('#addContact').toggleClass('d-none');
            })

            //23-08-21 tde : 
            // controle saisie formulaire
            //vérif les input chiffre (élement, nb caractères autorisé)
            // exemple : verifInputChiffre('#prospects_Entreprise_siret',14);
        /*    const verifInputChiffre = (node, min, max)=>{
                $(node).on('keyup change',()=>{
                    let regex = new RegExp('[^0-9]');
                    let badCaract = '';
                    let badMin = '';
                    let badMax = '';
                    //que des chiffres
                    if(regex.test($(node).val())){
                        badCaract = "❌";
                    }
                    else{
                        badCaract = "✔";
                    }
                    //nb min
                    if($(node).val().length < min){
                        badMin = "❌";
                    }else{
                        badMin = "✔";
                    }
                    //nb max
                    if($(node).val().length > max){
                            badMax = "❌";
                    }else{
                        badMax = "✔";
                    }
                if($(node).siblings('div').length != 0){ 
                    $(node).siblings('div').remove(); 
                }
                $(node).after("<div> <div>" + badCaract + " Type de saisie : chiffres</div> <div>" + badMin + " Nombre de caractères minimum : " + min + " </div> <div>" + badMax + " Nombre de caractères maximum : " + max + " </div> </div>");
                })
                //retire le champs à la perte du focus
                $(node).on('focusout', ()=>{
                    $(node).siblings('div').remove(); 
                })
            }
            const initTestForm = ()=>{
                verifInputChiffre('#prospects_Entreprise_siret', 14, 14);
                verifInputChiffre('#prospects_codePostal', 5, 5);
            }
            initTestForm();
        */


        /*
            //recherche opco
            const OpcoSearch = ()=>{ 
                /* infos fonctionnement recherche
                https://www.opco.fr/trouver/?CP=75&TY=EM&search=1610B

                https://www.opco.fr/trouver/
                ?
                CP=75 :codepostal
                &
                TY=P :(p = particulier / EM = <=10 salariés / EP = >10 salariés
                &
                search=1610B codeape/naf 
                */
                // récup le departement
        /*        let cp = $('#prospects_codePostal').val().substring(0, 2)

                // récup tranche nb salariés
                let ty = ()=>{
                    //si particulier
                    if($('input[name="prospects[statut]"]').val() == '2'){
                        return 'P';
                    //si entreprise <=10 employés ou pas renseigné
                    } else if($('prospects_Entreprise_nbsalarie').val() <= 10 || $('prospects_Entreprise_nbsalarie').val() == null ){
                        return 'EM';
                    //si entreprise <=10 employés
                    }   else{
                        return 'EP';
                    }
                }

                let ape = $('#prospects_Entreprise_ape').val();


                $('#searchOpco').attr('href',`https://www.opco.fr/trouver/?CP=${cp}&TY=${ty()}&search=${ape}`);


            }
            //au click sur le lien
            $('#searchOpco').on('click',(e)=>{
                e.preventDefault();
                OpcoSearch();
                window.open($('#searchOpco').attr("href"), "popupWindow", "width=600,height=800,scrollbars=yes");
            })
        //possibilité recherche convention collective par siret : 
        // https://github.com/SocialGouv/siret2idcc


        */

    </script>
{% endblock %}
