{% extends 'base-admin.html.twig' %}


{% block title %}Prospects{% endblock %}

{% block body %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    
    <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a href="{{ path('contact')}}">Contact</a></li>
        <li class="breadcrumb-item"><a href="{{ path('prospects_index')}}">Liste complète</a></li>
        <li class="breadcrumb-item active" aria-current="page">Fiche prospect</li>
        <li class="breadcrumb-item"><a href="{{ path('prospects_index') }}">Retour</a></li>
    </ol>
</nav>
    <div class="containerTitre">
        <h1>{{prospect.entreprise.denominationSociale}}</h1>
    </div>
        <table class="table tableauShow text">
            <thead class="text-center">
                <tr>
                    <th>Statut</th>
                    <th>Nom de la société</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Site</th>
                    <th>Siret</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                <td>{{ prospect.statut }}</td>
                <td>{{ prospect.entreprise.denominationSociale }}</td>
                {% for contact in prospect.contacts %}
                {% if contact.principal == '1' %}
                    <td>{{ contact.nom }}</td>
                    <td>{{ contact.prenom }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.tel }}</td>
                {% endif %}
                {% endfor %}
                {% for adresse in prospect.adresses %}
                    <td>
                        {{ adresse.numero }}
                        {{ adresse.voie }}
                        {{ adresse.cp }}
                        {{ adresse.ville }}
                    </td>
                {% endfor %}
                    <td>{{ prospect.entreprise.site }}</td>
                    <td>{{ prospect.entreprise.siret }}</td>
                    <td>
                    <a href="{{ path('prospects_edit', {'id': prospect.id}) }}" data-bs-toggle="tooltip" title="modifier">
                    <button type="button" class="btn">
                        <i class="fas fa-user-edit"></i>
                    </button>

                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-toggle="tooltip" title="migrer en client">
                        <i class="fas fa-user-plus"></i>
                    </button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Transformer en client
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Souhaitez vous confirmer la migration du prospect 
                                    {{ prospect.entreprise.denominationSociale }}
                                    en client?
                                                                
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Fermer
                                    </button>
                                    <a href="{{ path('prospects_migration',{'id': prospect.id}) }}" data-bs-toggle="tooltip" title="migrer en client">
                                        <button type="button" class="btn btn-success">
                                            Oui
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>  
                </tr>
            </tbody>
    </table>
{% endblock %}
