{{ form_start(form ,{'attr':{'class':'col-12' }}) }}
<div class="card p-3 mt-3 mb-3">
    <h1>Modifier la convention de l'entreprise {{convention.prospect.entreprise}}</h1>
    <div class="form-entreprise card p-3 mt-4">
        

        {{ form_row(form.lieuFormation) }}

        {{ form_row(form.prospect) }}
        {{ form_row(form.devis) }}
        {{ form_row(form.commentaire) }}

        <h4> Veuillez entrer des participants</h4>

            {# Le bouton doit avoir une classe que l'on appellera plus tard avec jQuery pour créer une variable btn. On le relie au collection holder de la collection participants. #}
        <div class="col-3 my-2">
            <button type="button" class="add_item_link" data-collection-holder-class="parts">
                Ajouter un participant        
            </button>
        </div>
            {# On donne la classe participants à ul (pour quoi?). On lui attribut un prototype de template (ici form_widget) pour afficher les datas de la collection ciblée. On lui donne un index 0 pour pouvoir ajouter d'autres éléments plus tard avec index++ #}
            <ul class="parts" data-prototype="{{ form_widget(form.participants.vars.prototype)|e('html_attr') }}" data-index="0">
                {# On itère sur chaque participants que l'on pourra rentrer dans le formulaire afin d'afficher toutes leurs propriétés #}
                    {% for participant in form.participants %}
                    <li>
                        {{ form_row(participant.contact.nom) }}

                        {{ form_row(participant.contact.prenom) }}
                    </li>
                {% endfor %}
            </ul>
    </div>
</div>
{{ form_end(form) }}