{% extends 'base-admin.html.twig' %}


{% block title %}Liste des conventions{% endblock %}

{% block body %}

    {{ include('include/_gestion.html.twig') }}

    <div class="containerTitre text-center">
        <h1>Liste des conventions </h1>
    </div>
    
    {# je commente le btn parceque on créer pas une convention mais on la génére à partir de devis!!!!! #}
    {# <div class="botton">
        <a href="{{ path('conventions_new') }}" class="btn btn-outline-success btn-lg btn-block">New</a>
    </div> #}


<div class="containerTableau">
    <div class="table-responsive-sm">
    <table class="table table-striped text" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <thead>
            <tr>
                <th>Numéro Devis</th>
                <th>Formation</th>
                <th>Lieu de formation</th>
                <th>Client</th>
                <th>Statut</th>
                <th>Nombres d'heures</th>
                {# <th>Formation</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for convention in conventions %}
            
            <tr>
                <td>{{ convention.devis.numeroDevis }}</td>
                <td>
                    {{convention.devis.formations.titre}}
                </td>
                <td>{{ convention.lieuFormation }}</td>
                    
                <td>{{ convention.prospect }}</td>
                
                
                <td>{% if convention.devis.statut == 0 %}
                        <span class="badge bg-info text-dark">
                            En cours
                        </span>
                    {% elseif convention.devis.statut == 1 %}
                        <span class="badge bg-success text-dark">
                            Accepté
                        </span>
                    {% else %}
                        <span class="badge bg-danger text-dark">
                            Rejeté
                        </span>
                    {% endif %}
                </td>

                <td>{{ convention.devis.dureeH}} Heures</td>
                
                <td>
                    <a href="{{ path('conventions_show', {'id': convention.id}) }}"data-bs-toggle="tooltip" title="voir"><i class="far fa-eye text-primary"></i></a>

                    <a href="{{ path('conventions_edit', {'id': convention.id}) }}"data-bs-toggle="tooltip" title="modifier"><i class="far fa-edit text-primary"></i></a>

                    <a href="{{ path('conventions_pdf', {'id': convention.id}) }}"data-bs-toggle="tooltip" target="_blank" title="générer PDF"><i class="far fa-file-pdf text-primary"></i></a>
                    
                    <a href="#"data-bs-toggle="tooltip" title="éditer convention"><i class="fas fa-file-invoice text-primary"></i></a>
                </td>
            </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun résultat trouvé</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    </div>

{% endblock %}
