{% extends 'base-admin.html.twig' %}


{% block title %}Convention{% endblock %}

{% block body %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a href="{{ path('devis_index') }}">Retour</a></li>
    </nav>
    

    <h1>Création nouvelle convention</h1>

    {# {{ include('convention/_form.html.twig') }} #}
    {{ form_start(form) }}
    {{ form_row(form.lieuFormation) }}
    {{ form_row(form.prospect) }}
    {{ form_row(form.devis) }}
    {{ form_row(form.commentaire) }}
    <h3>
        Participants
            
    </h3>
    <button type="button" class="add_item_link" data-collection-holder-class="participants">
        Ajout participants         
    </button>
    <ul class="participants" data-prototype="{{ form_widget(form.participants.vars.prototype)|e('html_attr') }}" data-index="0">
        {% for participant in form.participants %}
        
            <li>
                {{ form_row(participant) }}
               
            </li>
        {% endfor %}
    </ul>
    {{ form_end(form) }}
    {# <a href="{{ path('convention_index') }}">back to list</a> #}
{% endblock %}
{% block javascripts %}
    <script>
       window.onload = function(){
            let btn = document.querySelector('.add_item_link');
            console.log(btn);
            btn.addEventListener("click", (e)=> addFormToCollection(e));
            const addPartFormDeleteLink = (item)=>{
                const removeFormButton = document.createElement('button')
                removeFormButton.innerText = 'Supprimer ce participant'
                item.append(removeFormButton);
                removeFormButton.addEventListener('click', (e) => {
                    e.preventDefault()
                    item.remove();
                });
            }
                const addFormToCollection = (e) =>{
                    console.log("addFormToCollection=>",e);
                        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
                        const item = document.createElement('li');
                        item.innerHTML = collectionHolder
                        .dataset
                        .prototype
                        .replace(
                            /__name__/g,
                            collectionHolder.dataset.index
                        );
                        collectionHolder.appendChild(item);
                        collectionHolder.dataset.index++;
                        addPartFormDeleteLink(item);
                    };
                    const parts = document.querySelector('ul.participants').querySelectorAll('li');
                    parts.forEach((part)=> {
                        addPartFormDeleteLink(part)
                    });

                    
    };
    </script>
{% endblock %}

