{% extends 'base-admin.html.twig' %}


{% block title %}Conventions{% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        
            <ol class="breadcrumb m-1">
                <li class="breadcrumb-item"><a href="{{ path('gestion')}}">Gestion</a></li>
                <li class="breadcrumb-item"><a href="{{ path('conventions_index')}}">Liste complète</a></li>
                <li class="breadcrumb-item active" aria-current="page">Détail convention</li>
                <li class="breadcrumb-item"><a href="{{ path('conventions_index') }}">Retour</a></li>
            </ol>
    </nav>
    <h1>Conventions</h1>
    <div class="containerTableau">
        <table class="table table-striped text">
            <thead>
                <tr>
                    <th>Numéro Devis</th>
                    <th>Client</th>
                    <th>Email</th>
                    <th>Ville</th>
                    <th>Durée</th>
                    <th>Période de stage</th>
                    <th>Création</th>
                    <th>Lieu de formation</th>
                    <th>Nombre de participant</th>
                    <th>Commentaire</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ convention.devis.numeroDevis }}</td>
                    {% for contact in convention.prospect.contacts %}
                    {% if contact.principal == '1' %}
                    <td>{{ contact.nom }} {{ contact.prenom }}</td>
                    <td>{{ contact.email }}</td>
                    {% endif %}
                    {% endfor %}
                    {% for adresse in convention.prospect.adresses %}
                    <td>{{ adresse.ville }}</td>
                    {% endfor %}
                    <td>{{ convention.devis.dureeH }} Heures</td>
                    <td>{{ convention.devis.dateDebut|date('d-m-Y') }} à {{ convention.devis.dateFin|date('d-m-Y') }}</td>
                    <td>{{ convention.devis.dateCreation|date('d-m-Y')  }}</td>
                    <td>{{ convention.lieuFormation }}</td>
                    <td>{{ convention.devis.nbrParticipants }}</td>
                    <td>{{ convention.commentaire }}</td>
                    <td> 
                        <a href="{{ path('conventions_edit', {'id': convention.id}) }}"data-bs-toggle="tooltip" title="modifier"> <button class="btn"><i class="fas fa-user-edit"></i></button></a>
                        {{ include('conventions/_delete_form.html.twig') }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


  
{% endblock %}
