{{ form_start(form, {'attr':{'class':'col-12' }}) }}

<div class="card p-3 mt-3 mb-3">
        <h1>Créer une nouvelle session</h1>
        <div class="form-entreprise card p-3 mt-4">
    <div class="row g-3">

    <div>
        {{ form_label(form.title, 'Titre') }}
        {{ form_widget(form.title) }}
    </div>
    <div class="col-md-3">
        {{ form_label(form.start, 'Date de début') }}
        {{ form_widget(form.start) }}
    </div>
    <div class="col-md-3">
        {{ form_label(form.end, 'Date de fin') }}
        {{ form_widget(form.end) }}
    </div>
    <div class="col-md-3">
        {{ form_label(form.startTime, 'Heure de début') }}
        {{ form_widget(form.startTime) }}
    </div>
    <div class="col-md-3">
        {{ form_label(form.endTime, 'Heure de fin') }}
        {{ form_widget(form.endTime) }}
    </div>
    <div class="col-md-5">
        {{ form_label(form.startRecur) }}
        {{ form_widget(form.startRecur) }}
    </div>
    <div class="col-md-5">
        {{ form_label(form.endRecur) }}
        {{ form_widget(form.endRecur) }}
    </div>
    <div class="col-md-2">
        {{ form_label(form.dureeJour, 'Durée par jour') }}
        {{ form_widget(form.dureeJour) }}
    </div>
    {# <div class="col-md-6">
        {{ form_label(form.daysOfWeeks, 'Les jours') }}
        {{ form_widget(form.daysOfWeeks) }}
    </div> #}
    <div class="col-md-6">
        {{ form_label(form.allDay, 'Toute la journée') }}
        {{ form_widget(form.allDay) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.niveau) }}
        {{ form_widget(form.niveau) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.created_at) }}
        {{ form_widget(form.created_at) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.groupId) }}
        {{ form_widget(form.groupId) }}
    </div>
    <div  class="col-md-6">
        {{ form_label(form.formation, 'Formation') }}
        {{ form_widget(form.formation) }}
    </div>
    <div  class="col-md-6">
        {{ form_label(form.formateur, 'Formateur') }}
        {{ form_widget(form.formateur) }}
    </div>
    <div>
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    <div  class="col-md-2" >
        {{ form_label(form.daysOfWeeks) }}
        {{ form_widget(form.daysOfWeeks) }}
    </div>
    <div  class="col-md-2" >
        {{ form_label(form.backgroundColor) }}
        {{ form_widget(form.backgroundColor) }}
    </div>
    <div  class="col-md-2">
        {{ form_label(form.textColor) }}
        {{ form_widget(form.textColor) }}
    </div>
    <div  class="col-md-2">
        {{ form_label(form.borderColor) }}
        {{ form_widget(form.borderColor) }}
    </div>
    </div>
    <div class="col-8 my-2">
        
        <button class="btn btn-outline-secondary mt-3 mb-3">{{ button_label|default('Enregistrer') }}</button>
    </div>
</div>
    {# {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button> #}
{{ form_end(form) }}
