{% extends 'base-admin.html.twig' %}


{% block title %}Modifier Session{% endblock %}

{% block body %}
    <h1>Modifier Session</h1>

    {{ include('session/_form.html.twig', {'button_label': 'Modifier'}) }}

    {# <a href="{{ path('session_index') }}">back to list</a>

    {{ include('session/_delete_form.html.twig') }} #}
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function () {
        $('#session_niveau').select2();  
    });
    </script>

{% endblock %}
