{% extends 'base-admin.html.twig' %}


{% block title %}Session index{% endblock %}

{% block body %}

    <div class="row align-items-center">            
        <div class="text-center">
            <h1>Les sessions </h1>
        </div>
        <div class="d-flex justify-content">
            <a href="{{ path('session_new') }}" class="btn btn-outline-success btn-sm btn-block text ">Créer une session</a>
        </div>
    </div>

<div class="containerTableau my-3">
    <table class="table table-striped text" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <thead>
            <tr>
                <th>Title</th>
                <th>Début de la session</th>
                <th>Fin de la session </th>
                <th>Heure</th>
                <th>Formation</th>
                <th>Formateur</th>
                <th>Niveau</th>
                <th>Durée / Jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                {# {{dump(sessions)}} #}
                <td>{{ session.title }}</td>
                <td>{{ session.start ? session.start|date('d-m-Y') : '' }}</td>
                <td>{{ session.end ? session.end|date('d-m-Y') : '' }}</td>
                <td>{{ session.startTime ? session.startTime|date('H:i') : '' }} à {{ session.endTime ? session.endTime|date('H:i') : '' }}</td>
                {# <td></td> #}
                <td>{{session.formation}}</td>
                <td>{{session.formateur}}</td>
                <td>{{session.formation.niveau}}</td>
                <td>{{ session.dureeJour }}</td>
                <td>
                    <a href="{{ path('session_show', {'id': session.id}) }}"  data-bs-toggle="tooltip" title="voir"> <button type="button" class="btn">
                    <i class="far fa-eye"></i></button>
                    </a>
                    <a href="{{ path('session_edit', {'id': session.id}) }}" data-bs-toggle="tooltip" title="modifier"><button type="button" class="btn"><i class="fas fa-edit"></i></button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
