{% extends 'base-admin.html.twig' %}


{% block title %}Nouvelle Session{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a href="{{ path('session_index')}}">Liste complète</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ajout</li>
        <li class="breadcrumb-item"><a href="{{ path('session_index') }}">Retour</a></li>
    </ol>
</nav>

    {{ include('session/_form.html.twig') }}

    
{% endblock %}
{% block javascripts %}
    <script>
    $(document).ready(function () {
        $('#session_niveau').select2();  
    });
    </script>

{% endblock %}

