{% extends 'base-admin.html.twig' %}


{% block title %}Session{% endblock %}

{% block body %}
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb m-1">
                <li class="breadcrumb-item"><a href="{{ path('formation')}}">Session</a></li>
                <li class="breadcrumb-item"><a href="{{ path('session_index')}}">Liste complète</a></li>
                <li class="breadcrumb-item active" aria-current="page">Fiche formation</li>
                <li class="breadcrumb-item"><a href="{{ path('session_index')}}">Retour</a></li>
            </ol>
        </nav>
        <h1>Session</h1>
        <div class="containerTableau">
            <table class="table text-center" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3" >
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Formation</th>
                        <th>Niveau</th>
                        <th>Formateur</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Heure début</th>
                        <th>Heure fin</th>
                        {# <th>StartRecur</th> #}
                        {# <th>EndRecur</th> #}
                        {# <th>Durée Jour</th> #}
                        <th>Toute la Journée</th>
                        <th>Description</th>
                        <th>Créer</th>
                        <th>GroupId</th>
                        {# <th>les jours</th> #}
                        <th>Actions</th>
                    </tr>
                </thead>    
                <tbody>
                    <tr>
                        <td>{{ session.title }}</td>
                        <td>{{ session.formation}}</td>
                        <td>{{ session.formation.niveau}}</td>
                        <td>{{ session.formateur}}</td>
                        <td>{{ session.start ? session.start|date('d/m/Y') : '' }}</td>
                        <td>{{ session.end ? session.end|date('d/m/Y') : '' }}</td>
                        <td>{{ session.startTime ? session.startTime|date('H:i') : '' }}</td>
                        <td>{{ session.endTime ? session.endTime|date('H:i') : '' }}</td>
                        {# <td>{{ session.startRecur ? session.startRecur|date('Y-m-d') : '' }}</td> #}
                        {# <td>{{ session.endRecur ? session.endRecur|date('d-m-Y') : '' }}</td> #}
                        {# <td>{{ session.dureeJour }}</td> #}
                        <td>{{ session.allDay ? 'Oui' : 'Non' }}</td>
                        <td>{{ session.description }}</td>
                        <td>{{ session.createdAt ? session.createdAt|date('d/m/Y') : '' }}</td>
                        <td>{{ session.groupId }}</td>
                        {# <td>{% for jour in session.daysOfWeeks %}
                                <li>{{jour.name}}</li>
                            {% endfor %}
                        </td> #}
                        <td>
                            <a href="{{ path('session_edit', {'id': session.id}) }}" data-bs-toggle="tooltip" title="modifier"><button type="button" class="btn"><i class="fas fa-edit"></i></button>
                            </a> 
                            {{ include('session/_delete_form.html.twig') }}
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>
{% endblock %}
