{% extends 'base-admin.html.twig' %}

{% block title %}Edit Adresse{% endblock %}

{% block body %}
    <h1>Edit Adresse</h1>

    {{ include('adresse/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('adresse_index') }}">Retour</a>

    {{ include('adresse/_delete_form.html.twig') }}
{% endblock %}
