{% extends 'base-admin.html.twig' %}


{% block title %}Adresse index{% endblock %}

{% block body %}
    <h1>Adresse index</h1>
    <div class="table-responsive-sm">
    <table class="table" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Voie</th>
                <th>Ville</th>
                <th>Cp</th>
                <th>Region</th>
                <th>Complementaire</th>
                <th>Principale</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
            <tr>
                <td>{{ adresse.id }}</td>
                <td>{{ adresse.numero }}</td>
                <td>{{ adresse.voie }}</td>
                <td>{{ adresse.ville }}</td>
                <td>{{ adresse.cp }}</td>
                <td>{{ adresse.region }}</td>
                <td>{{ adresse.complementaire }}</td>
                <td>{{ adresse.principale ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('adresse_show', {'id': adresse.id}) }}">Voir</a>
                    <a href="{{ path('adresse_edit', {'id': adresse.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a href="{{ path('adresse_new') }}">Nouvelle adresse</a>
{% endblock %}
