{% extends 'base-admin.html.twig' %}


{% block title %}Nouvelle Adresse{% endblock %}

{% block body %}
    <h1>Ajouter une adresse</h1>

    {{ include('adresse/_form.html.twig') }}

    <a href="{{ path('adresse_index') }}">Retour</a>
{% endblock %}
