{% extends 'base-admin.html.twig' %}


{% block title %}Adresse{% endblock %}

{% block body %}
    <h1>Adresse</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numéro</th>
                <th>Voie</th>
                <th>Ville</th>
                <th>Cp</th>
                <th>Région</th>
                <th>Complèmentaire</th>
                <th>Principale</th>
            </tr>
        </thead>    
        <tbody>    
            <tr>   
                <td>{{ adresse.id }}</td>
                <td>{{ adresse.numero }}</td>
                <td>{{ adresse.voie }}</td>
                <td>{{ adresse.ville }}</td>
                <td>{{ adresse.cp }}</td>
                <td>{{ adresse.region }}</td>
                <td>{{ adresse.complementaire }}</td>
                <td>{{ adresse.principale ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('adresse_index') }}">Retour</a>

    <a href="{{ path('adresse_edit', {'id': adresse.id}) }}">Editer</a>

    {{ include('adresse/_delete_form.html.twig') }}
{% endblock %}
