{{ form_start(form, {'attr':{'class':'col-12' }}) }}

<div class="card p-3 mt-3 mb-3">
    <h1>Ajouter une formation</h1>
    <div class="form-entreprise card p-3 mt-4">
    <div class="row g-3 mt-3">
        <div class="col-md-4">
            {{ form_label(form.titre) }}
            {{ form_widget(form.titre) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.niveau) }}
            {{ form_widget(form.niveau) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.secteur, 'Catégorie') }}
            {{ form_widget(form.secteur) }}
        </div>
    </div>
    <div class="row g-3 mt-3">    
        <div class="col-md-4">
            {{ form_label(form.tarifs.vars.prototype.tarifshoraire, 'Tarif Horaire') }}
            {{ form_widget(form.tarifs.vars.prototype.tarifshoraire) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.tarifs.vars.prototype.tarifsjournalier, 'Tarif Journalier') }}
            {{ form_widget(form.tarifs.vars.prototype.tarifsjournalier) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.tarifs.vars.prototype.tarifsforfaitaire, 'Tarif Forfaitaire') }}
            {{ form_widget(form.tarifs.vars.prototype.tarifsforfaitaire) }}
        </div>
    </div>
    <div class="row g-3 mt-3">    
        <div class="col">
            {{ form_label(form.programme) }}
            {{ form_widget(form.programme) }}
        </div>
    </div> 
    <br>
    <div class="col-md-4">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
    

</div>
{{ form_end(form) }}
