{% extends 'base-admin.html.twig' %}


{% block title %}Modifier Formations{% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a href="{{ path('formation')}}">Formation</a></li>
        <li class="breadcrumb-item"><a href="{{ path('formations_index')}}">Liste complète</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modification</li>
        <li class="breadcrumb-item"><a href="{{ path('formations_index')}}">Retour</a></li>
    </ol>
    </nav>
    <h1>Modifier {{formation.titre}}</h1>

    {{ include('formations/_form.html.twig', {'button_label': 'Modifier'}) }}

    {# <a href="{{ path('formations_index') }}">retour</a>

    {{ include('formations/_delete_form.html.twig') }} #}
{% endblock %}
