{% extends 'base-admin.html.twig' %}


{% block title %}Liste des formations{% endblock %}

{% block body %}

    {# {{ include('include/_form_recherche.html.twig') }} #}

    <div class="row align-items-center">
            <div class="text-center">
                <h1>Liste des formations </h1>
            </div>
            <div class="d-flex justify-content">
                <a href="{{ path('formations_new') }}" class="btn btn-outline-success btn-sm btn-block">Ajouter une formation</i></a>
            </div>
        </div>

        <div class="containerTableau my-3">
            <div class="table-responsive-sm">
            <table class="table table-striped text" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Niveau</th>
                        <th>Catégorie</th>    
                        <th>Tarif heure</th>
                        <th>Tarif jour</th>
                        <th>Tarif forfait</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                {% for formation in formations %} 
                    <tr>
                        <td>{{ formation.titre }}</td>
                        <td>{{formation.niveau}}</td>
                        <td>{{ formation.secteur }}</td>
                        {% for tarif in formation.tarifs %}
                            <td>{{ tarif.tarifshoraire }} €</td>
                            <td>{{ tarif.tarifsjournalier }} €</td>
                            <td>{{ tarif.tarifsforfaitaire}} €</td>
                        {% endfor %}
                            {# on fait pas de boucle parceque on a un secteur par formation / et on a pas besoin de farire appelle a secteur dans FormationController car il se trouve déja dans formation en cascade #}
                        <td>
                            <a href="{{ path('formations_show', {'id': formation.id}) }}"data-bs-toggle="tooltip" title="voir"><i class="far fa-eye text-primary"></i></a>
                            <a href="{{ path('formations_edit', {'id': formation.id}) }}"data-bs-toggle="tooltip" title="modifier"><i class="far fa-edit text-primary"></i></a>
                            <a href="#"data-bs-toggle="tooltip" title="générer PDF"><i class="far fa-file-pdf text-primary"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Aucun résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

{% endblock %}
