{% extends 'base-admin.html.twig' %}


{% block title %}Nouvelles formations{% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb m-1">
            <li class="breadcrumb-item"><a href="{{ path('formation')}}">Formation</a></li>
            <li class="breadcrumb-item"><a href="{{ path('formations_index')}}">Liste complète</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajout</li>
            <li class="breadcrumb-item"><a href="{{ path('formations_index') }}">Retour</a></li>
        </ol>
    </nav>

    {{ include('formations/_form.html.twig') }}

    
{% endblock %}
