{% extends 'base-admin.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';"  aria-label="breadcrumb">
        <ol class="breadcrumb m-1">
            <li class="breadcrumb-item"><a href="{{ path('formation_sessionVenir')}}">Formation</a></li>
            <li class="breadcrumb-item"><a href="{{ path('formations_index')}}">Liste complète</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fiche formation</li> 
            <li class="breadcrumb-item"><a href="{{ path('formations_index')}}">Retour</a></li> 
        </ol>
    </nav>
    <div class="containerTitre">
        <h1>{{formation.titre}}</h1>
    </div>
    <div class="containerTableau">
        <div class="table-responsive-sm">
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Prix du jour</th>
                    <th>Niveau</th>
                    <th>Catégorie</th>
                    <th>Programme</th>
                    <th>Actions</th>
                </tr>
            </thead>   
            <tbody>    
                <tr>
                    <td>{{ formation.titre }}</td>
                    <td> A partir de {{ formation.prixJour }} € par jour</td>
                    <td>{{ formation.niveau }}</td>
                    <td>{{ formation.secteur }}</td>
                    <td>{{ formation.programme|raw }}</td>    
                    <td>
                        <a href="{{ path('formations_edit', {'id': formation.id}) }}" data-bs-toggle="tooltip" title="modifier"><button type="button" class="btn"><i class="fas fa-edit"></i></button>
                        </a>
                        {{ include('formations/_delete_form.html.twig') }}
                    </td>
                </tr>
            </tbody>    
        </table>   
        </div>
    </div>
{% endblock %}
