{{ form_start(form, {'attr':{'class':'col-12' }} ) }}

<div class="card p-3 mt-3 mb-3">
<h1>AJOUTER UN FORMATEUR</h1>
    <div class="form-entreprise card p-3 mt-4">
        <div class="row">
            <h4 class="my-2">CONTACT :</h4>
            <div class="col-4 my-2">
                {{ form_label(form.contacts.nom) }}
                {{ form_widget(form.contacts.nom) }}
            </div>
            <div class="col-4 my-2">
                {{ form_label(form.contacts.prenom) }}
                {{ form_widget(form.contacts.prenom) }}
            </div>
            <div class="col-4 my-2">
                {{ form_label(form.contacts.email) }}
                {{ form_widget(form.contacts.email) }}
            </div>
            <div class="col-6 my-3">
                {{ form_label(form.contacts.tel) }}
                {{ form_widget(form.contacts.tel) }}
            </div>
            <div class="col-6 my-3">
                {{ form_label(form.contacts.mobile) }}
                {{ form_widget(form.contacts.mobile) }}
            </div>
            <h4>ENTREPRISE :</h4>
            <div class="col-12 col-md-6 my-2">
                {{ form_label(form.entreprise.denominationSociale) }}
                {{ form_widget(form.entreprise.denominationSociale) }}
            </div>
            <div class="col-12 col-md-6 my-2">
                {{ form_label(form.entreprise.activite) }}
                {{ form_widget(form.entreprise.activite) }}
            </div>
            <div class="col-12 col-md-4 my-3">
                {{ form_label(form.entreprise.siret) }}
                {{ form_widget(form.entreprise.siret) }}
            </div>
            <div class="col-3 col-md-4 my-3">
                {{ form_label(form.entreprise.tva) }}
                {{ form_widget(form.entreprise.tva) }}
            </div>
            <div class="col-9 col-md-4 my-3">
                {{ form_label(form.entreprise.numeroIntracommunautaireTva, 'N° intra TVA') }}
                {{ form_widget(form.entreprise.numeroIntracommunautaireTva) }}
            </div>
            <h4>TYPE :</h4>
            <div class="col-md-6 my-2">
                {{ form_label(form.methode, 'Méthode') }}
                {{ form_widget(form.methode) }}
            </div>
            <div class="col-md-6 my-2" id="article_formation" >
                {{ form_label(form.formations, 'Formation') }}
                {{ form_widget(form.formations) }}
            </div>
            <h4>TARIFS :</h4>
            <div class="col-md-4 my-2">
                {{ form_label(form.tarifs.vars.prototype.tarifshoraire, 'Tarif Horaire') }}
                {{ form_widget(form.tarifs.vars.prototype.tarifshoraire) }}
            </div>
            <div class="col-md-4 my-2">
                {{ form_label(form.tarifs.vars.prototype.tarifsjournalier, 'Tarif Journalier') }}
                {{ form_widget(form.tarifs.vars.prototype.tarifsjournalier) }}
            </div>
            <div class="col-md-4 my-2">
                {{ form_label(form.tarifs.vars.prototype.tarifsforfaitaire, 'Tarif Forfaitaire') }}
                {{ form_widget(form.tarifs.vars.prototype.tarifsforfaitaire) }}
            </div>
            <div class="col-md-6 my-2" >
                <button class="btn btn-outline-secondary mt-3 mb-3">{{ button_label|default('Enregistrer') }}</button>
            </div>
        </div>
    </div>
</div>


{{ form_end(form) }}


