{% extends 'base-admin.html.twig' %}


{% block title %}Modifier Formateurs{% endblock %}

{% block body %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a href="{{ path('formateurs_index')}}">Liste complète</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modification</li>
        <li class="breadcrumb-item"><a href="{{ path('formateurs_index') }}">Retour</a></li>

    </ol>
</nav>
    <h1>Modification des informations de {{formateur.contacts.nom}} {{formateur.contacts.prenom}} </h1>

    {{ include('formateurs/_form.html.twig', {'button_label': 'Modifier'}) }}


    {# {{ include('formateurs/_delete_form.html.twig') }} #}
{% endblock %}
{% block javascripts %}
    <script>
    $(document).ready(function () {
        $('#formateurs_formations').select2();  
    });
    </script>

{% endblock %}

