{% extends 'base-admin.html.twig' %}


{% block title %}Liste des formateurs{% endblock %}

{% block body %}

    {# {{ include('include/_form_recherche.html.twig') }} #}
    <div class="row align-items-center">
            <div class="text-center">
                <h1>Liste des formateurs </h1>
            </div>
            <div class="d-flex justify-content">
                <a href="{{ path('formateurs_new') }}" class="btn btn-outline-success btn-sm btn-block">Ajouter un formateur</i></a>
            </div>
        </div>
        <div class="containerTableau my-3">
            <div class="table-responsive-sm">
            <table class="table table-striped text" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="10">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Nom de la société </th>
                        <th>Formations</th>
                        <th>Méthodes</th>
                        <th>Tarif heure</th>
                        <th>Tarif jour</th>
                        <th>Tarif forfait</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                        
                        
                {% for formateur in formateurs %}
                    <tr>
                        <td>{{ formateur.contacts.nom }}</td>
                        <td>{{ formateur.contacts.prenom }}</td>
                        <td>{{ formateur.contacts.email }}</td>
                        <td>{{ formateur.entreprise.denominationSociale }}</td>
                        <td>
                        {% for formation in formateur.formations %}
                            <li>{{ formation.titre }}</li> 
                        {% endfor %}
                        </td>
                        <td>
                        {% if formateur.methode == 1 %}
                        Distanciel
                        {% elseif formateur.methode == 2 %}
                        Présenciel
                        {% else %}
                        Distanciel & Présenciel
                        {% endif %}
                        </td>
                        {% for tarif in formateur.tarifs %}
                            <td>{{ tarif.tarifshoraire }} </td>
                            <td>{{ tarif.tarifsjournalier }} </td>
                            <td>{{ tarif.tarifsforfaitaire}} </td>
                        {% endfor %}
                        <td>
                            <a href="{{ path('formateurs_show', {'id': formateur.id}) }}"data-bs-toggle="tooltip" title="voir"><i class="far fa-eye text-primary"></i></a>
                            <a href="{{ path('formateurs_edit', {'id': formateur.id}) }}"data-bs-toggle="tooltip" title="modifier"><i class="far fa-edit text-primary"></i></a>
                            <a href="{{ path('formateurs_edit', {'id': formateur.id}) }}"data-bs-toggle="tooltip"  title="document"><i class="far fa-file-alt text-primary"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">Aucun résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
{% endblock %}
