{% extends 'base-admin.html.twig' %}


{% block title %}Formateurs{% endblock %}

{% block body %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a href="{{ path('formateurs_index')}}">Liste complète</a></li>
        <li class="breadcrumb-item active" aria-current="page">Fiche formateur</li>
        <li  class="breadcrumb-item"> <a href="{{ path('formateurs_index') }}">Retour</a></li>
    </ol>
</nav>
<div class="containerTitre">
    <h1>{{ formateur.contacts.nom }} {{ formateur.contacts.prenom }}</h1>
</div>

<div class="containerTableau">
        <div class="table-responsive-sm">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dénomination Sociale</th>
                <th>Siret</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>TVA</th>
                <th>Méthode</th>
                <th>Formations</th>
                {# <th>mdp</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ formateur.entreprise.denominationSociale }}</td>
                <td>{{ formateur.entreprise.siret }}</td>
                <td>{{ formateur.contacts.nom }}</td>
                <td>{{ formateur.contacts.prenom }}</td>
                <td>{{ formateur.contacts.email }}</td>
                <td>{{ formateur.contacts.tel }}</td>
                <td>{{ formateur.entreprise.tva }}</td>
                <td>
                {% if formateur.methode == 1 %}
                Distanciel
                {% elseif formateur.methode == 2 %}
                Présenciel
                {% else %}
                Distanciel & Présenciel
                {% endif %}
                </td>
                <td>
                {% for formation in formateur.formations %}
                    {{ formation.titre }}
                {% endfor %}
                </td>
                {# <td>{{ formateur.password }}</td>     #}
                <td>
                    <a href="{{ path('formateurs_edit', {'id': formateur.id}) }}" data-bs-toggle="tooltip" title="modifier"><button type="button" class="btn"><i class="fas fa-user-edit text-primary"></i></button>
                    </a>
                    {{ include('formateurs/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

{% endblock %}
