{% extends 'base-admin.html.twig' %}


{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    <h1>modifier une Catégorie</h1>

    {{ include('secteur/_form.html.twig', {'button_label': 'Modifier'}) }}
{# 
    <a href="{{ path('secteur_index') }}">back to list</a>

    {{ include('secteur/_delete_form.html.twig') }} #}
{% endblock %}
