{% extends 'base-admin.html.twig' %}


{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}

    {{ include('secteur/_form.html.twig') }}

    {# <a href="{{ path('secteur_index') }}">back to list</a> #}
{% endblock %}
