{% extends 'base-admin.html.twig' %}


{% block title %}Catégorie{% endblock %}

{% block body %}
    <h1>Catégorie</h1>

<div class="containerTableau">
    <table class="table table-striped" >
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ secteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ secteur.titre }}</td>
            </tr>
            <tr>
                <th>Actions</th>
                <td>
                    <a href="{{ path('secteur_edit', {'id': secteur.id}) }}" data-bs-toggle="tooltip" title="modifier"><button type="button" class="btn"><i class="fas fa-edit"></i></button>
                    </a> 
                    {{ include('secteur/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
    
{% endblock %}
