{% extends 'base-admin.html.twig' %}


{% block title %}Contact{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-5">
        <li class="breadcrumb-item active mt-2" aria-current="page">Contact</li>
    </ol>
    </nav>

    <div class="row justify-content-center">
            <div class="card  col-12">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact')}}">Prospect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('contact_entreprise')}}">Entreprise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">Client</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_opco')}}">OPCO</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Derniers clients</h5>
                    {#TODO afficher les 10 derniers prospects #}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>Nom Contact</th>
                            <th>Prénom Contact</th>
                            <th>Mail</th>
                            <th>Téléphone</th>
                            {# <th >Voir</th>  #}
                            </tr>
                        </thead>
                        <tbody>
                            {% for contact in contacts %}
                                
                                    <tr>
                                        <td>{{contact.nom}}</td>
                                        <td>{{contact.prenom}}</td>
                                        <td>{{contact.email}}</td>
                                        <td>{{contact.tel}}</td>
                                        {# <td><a href="{{ path('prospects_showClients', {'id': contact.id}) }}"data-bs-toggle="tooltip" title="voir"><i class="fas fa-eye"></i></i></a></td> #}
                                    </tr>
                                
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                    <a href="{{path('clients_index')}}" class="btn btn-primary">Liste complète</a>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
