{% extends 'base-admin.html.twig' %}


{% block title %}Contact{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb m-5">
    <ol class="breadcrumb m-5">
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
    </nav>

    <div class="row justify-content-center">
            <div class="card  col-12">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact')}}">Prospect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">Entreprise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_client')}}">Client</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_opco')}}">OPCO</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Dernieres entreprises</h5>
                    {#TODO afficher les 10 derniers prospects #}
                    <table class="table table-striped">
                        <thead>
                        
                            <tr>
                            <th>Dénomination Sociale</th>
                            <th>Siret</th>
                            <th>Activité</th> 
                            <th>Voir</th> 
                            </tr>
                        </thead>
                        <tbody>
                        {% for entreprise in entreprise %}
                            <tr>
                            <th>{{ entreprise.denominationSociale}}</th>
                            <td>{{entreprise.siret}}</td>
                            <td>{{entreprise.activite}}</td>
                            <td><a href="{{ path('entreprise_show', {'id': entreprise.id}) }}"data-bs-toggle="tooltip" title="voir"><i class="fas fa-eye"></i></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                    <a href="{{ path('entreprise_index')}}" class="btn btn-primary ">Liste complète</a>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
