{% extends 'base-admin.html.twig' %}


{% block title %}Contact{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb m-5">
    <ol class="breadcrumb m-5">
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
    </nav>

    <div class="row justify-content-center">
            <div class="card col-12">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">Prospect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_entreprise')}}">Entreprise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_client')}}">Client</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_opco')}}">OPCO</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Derniers prospects</h5>
                    {#TODO afficher les 10 derniers prospects #}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>Dénomination</th>
                            <th>Nom du contact</th>
                            <th>Prénom du contact</th>
                            <th>Statut</th>
                            <th>Voir</th> 
                            </tr>
                        </thead>
                        <tbody>
                        {% for prospect in prospects %}
                        {% if prospect.etat == 0 %}
                            <tr>{{dump(prospects)}}
                                <td>{{prospect.entreprise}}</td>
                                <td>{{prospect.contacts[0].nom}}</td>
                                <td>{{prospect.contacts[0].prenom}}</td>
                                {# <td>{{prospect.adherents}}</td> #}
                                <td>
                                    {{ prospect.statut}}
                                    {# {% if prospect.statut == 1 %}
                                        Entreprise
                                    {% else %}
                                        particulier
                                    {% endif %} #}
                                </td>
                                <td><a href="{{ path('prospects_show', {'id': prospect.id}) }}"data-bs-toggle="tooltip" title="voir"><i class="fas fa-eye"></i></i></a></td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class=" text-center">
                    <a href="{{ path('prospects_index')}}" class="btn btn-primary">Liste complète</a>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
