{% extends 'base-admin.html.twig' %}


{% block title %}Contact{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-5">
        <li class="breadcrumb-item active mt-2" aria-current="page">Contact</li>
    </ol>
    </nav>

    <div class="row justify-content-center">
            <div class="card col-12">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact')}}">Prospect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_entreprise')}}">Entreprise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('contact_client')}}">Client</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">OPCO</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Derniers OPCO </h5>
                    {#TODO afficher les 10 derniers OPCO #}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            {# <th>Nom de la société</th>
                            <th>Ville</th>
                            <th>Téléphone</th>
                            <th>Mail</th>
                            <th>Site</th>
                            <th>Voir</th> #}
                            <th>Entreprise</th>
                            <th>Ville</th>
                            <th>Code postal</th>
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for opco in opco %}
                            <tr>
                                
                                {# <td>{{ opco.nom }}</td>
                                <td>{{ opco.ville }}</td>
                                <td>{{ opco.tel }}</td>
                                <td>{{ opco.email }}</td>
                                <td>{{ opco.site }}</td> #}
                                <td>{{ opco.entreprise }}</td>
                                <td>{{ opco.adresse.ville }}</td>
                                <td>{{ opco.adresse.cp }}</td> 
                                <td><a href="{{ path('opco_show', {'id': opco.id}) }} "data-bs-toggle="tooltip" title="voir"><i class="fas fa-eye"></i></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                    <a href="{{ path('opco_index')}}" class="btn btn-primary">Liste complète des OPCO</a>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
