<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css" integrity="sha256-u40zn9KeZYpMjgYaxWJccb4HnP0i8XI17xkXrEklevE=" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        
        {% block stylesheets %}
        {% endblock %}
    </head>

        <div>
                {# ANCHOR a décommenter une fois l'api google ok #}
                {# <img src="{{ app.user.image}}" class="photo" alt="Photo de {{ app.user.fullname}}" width="30" height="30" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Photo de {{app.user.email}}"> #}
                {# <a href="{{ path('logout')}}" class="navbar-brand m-0">  #}
                {# <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Deconnexion">
                <i class="fas fa-sign-out-alt fa-2x c1"></i>
                </button>  #}
            </div>
            {% block header %}
            <div class="sidebar ">
                <div class="logo_details">
                    <img src="{{asset ('images/k.png')}}" alt="" class="logo">
                    <span class="logo_name">Kouros</span>
                </div>
        
                <ul class="nav_links">
                    <li>
                        <div class="icone_link">
                            <a href="{{path('dashboard')}}">
                                <i class="fas fa-border-all fa-2x text-nav"></i> 
                                <span class="link_name"> Accueil</span>
                            </a>
                            {# <i class="fas fa-chevron-down"></i> #}
                        </div>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="{{path('dashboard')}}">Accueil</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="icone_link">
                            <a href="#">
                                <i class="fas fa-address-book fa-2x text-nav "></i>
                                <span class="link_name arrow">Contact </span>
                            </a>
                            <i class="fas fa-chevron-down arrow"></i>
                        </div>
                        <ul class="sub-menu menu">
                            <li><a class="link_name " href="#">Contact</a></li>
                            <li><a class="sous_menu"  href="{{ path('prospects_index')}}">Prospects</a></li>
                            <li><a class="sous_menu" href="{{path('clients_index')}}">Clients</a></li>
                            <li><a class="sous_menu" href="{{ path('opco_index')}}">OPCO</a></li>
                            <li><a class="sous_menu" href="{{ path('contact')}}">Voir tout</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="icone_link">
                            <a href="#">
                                <i class="fas fa-tasks fa-2x text-nav"></i>
                                <span class="link_name arrow"> Gestion</span>
                            </a>
                            <i class="fas fa-chevron-down arrow"></i>
                        </div>
                        <ul class="sub-menu menu">
                            <li><a class="link_name" href="#">Gestion</a></li>
                            <li><a class="sous_menu" href="{{ path('devis_index')}}">Devis</a></li>
                            <li><a class="sous_menu" href="{{ path('conventions_index')}}">Convention</a></li>
                            <li><a class="sous_menu" href="#">Factures</a></li>
                            <li><a class="sous_menu" href="#">Réglement</a></li>
                            <li><a class="sous_menu" href="{{ path('gestion')}}">Voir tout</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="icone_link">
                            <a href="{{ path('formateurs_index')}}">
                                <i class="fas fa-chalkboard-teacher fa-2x text-nav"></i>
                                <span class="link_name"> Formateurs</span>
                            </a> 
                        </div>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="{{ path('formateurs_index')}}">Formateurs</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="icone_link">
                            <a href="#">
                                <i class="fas fa-graduation-cap fa-2x text-nav"></i>
                                <span class="link_name arrow"> Formations </span>
                            </a>
                            <i class="fas fa-chevron-down arrow"></i>
                        </div>
                        <ul class="sub-menu menu">
                            <li><a class="link_name" href="#">Formations</a></li>
                            <li><a class="sous_menu" href="{{ path('formations_index')}}">Liste</a></li>
                            <li><a class="sous_menu" href="{{ path('session_index')}}">Sessions</a></li>
                            <li><a class="sous_menu" href="{{ path('formation')}}">Voir tout</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="icone_link">
                            <a href="#">
                                <i class="fas fa-cog fa-2x text-nav"></i>
                                <span class="link_name arrow"> Configuration</span>
                            </a>
                            <i class="fas fa-chevron-down arrow"></i>
                        </div>
                        <ul class="sub-menu menu">
                            <li><a  class="link_name" href="#">Configuration</a></li>
                            <li><a  class="sous_menu" href="{{ path('employes_index')}}">Employes</a></li>
                            <li><a  class="sous_menu" href="{{ path('secteur_index')}}">Secteurs</a></li>
                            <li><a  class="sous_menu" href="{{ path('niveau_index')}}">Niveaux</a></li>
                            <li><a  class="sous_menu" href="#">Images</a></li>
                            <li><a  class="sous_menu" href="{{ path('findFiles') }}">Templates</a></li>
                        </ul>
                    </li>
                    <li>
                    <div class=" profile_details">
                        <div class="profile_content">
                            <i class="fas fa-user"></i>
                        </div>
                    
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalmdp" data-bs-toggle="tooltip">
                                <div>
                                {% if app.user %}
                                    <div class="profile"><a href="#">{{app.user.identifiant}}</a></div>
                                {% endif %}
                                
                                </div>
                            </button>
                    </div>
                    </li>
                </ul>
            </div>
            <section class="home-section">
                <div class="home-content">
                {# <i class="fas fa-angle-double-right open"></i> #}
                <i class="fas fa-angle-double-left open"></i>
                    {# <i class="fas fa-bars"></i> #}
                </div>
            </section>
            <div class="modal fade" id="modalmdp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                            <div class="modal-dialog modal-dialog-centered" >
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Changer le mot de passe</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">                            
                                        <form>
                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Mot de passe</label>
                                            <input type="text" class="form-control" id="recipient-name" name="pass">
                                        </div>
                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Confirmer le mot de passe</label>
                                            <input type="text" class="form-control" id="recipient-name" name="pass2">
                                        </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                        <button type="button" class="btn btn-primary">Enregitrer</button>
                                    </div>
                                </div>
                            </div>
            </div>
        {% endblock %}
                       
        {% block body %}
        {% endblock %}
        
        
        
        
                    {# liens JS #}
                <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
                {# Script FullCalendar #}
                <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js" integrity="sha256-AOrsg7pOO9zNtKymdz4LsI+KyLEHhTccJrZVU4UFwIU=" crossorigin="anonymous"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                {# api complétion cp région #}
                <script src="{{asset('js/apiVille.js')}}"></script>
                {# api complétionentreprise #}
                <script src="{{asset('js/apiEntreprise.js')}}"></script>
                {# tde 29/09/21 INSERE LES ENTETES DE COMMENTAIRES à partir du hidden #contact_commentaire #}
                <script src="{{asset('js/commentaire.js')}}"></script>
                {# tde 29/09/21 GERE LE FAIT QU IL N'Y A QU UN SEUL PRINCIPAL ADRESSE OU CONTACT - APPELER LA FONCTION DANS LE FORMULAIRE #}
                 <script src="{{ asset('js/gestionPrincipal.js') }}"></script>
                {# A SUPPRIMER APRES TEST #}
                <script src="{{ asset('js/TestForm.js') }}"></script>
                {# adminkit js #}
                {# <script src="https://unpkg.com/@adminkit/core@latest/dist/js/app.js"></script> #}

        {# script bar nav #}
        <script>
            let arrow = document.querySelectorAll('.arrow');
            console.log(arrow);
            for (var i = 0; i < arrow.length; i++){

                arrow[i].addEventListener("click", (e)=>{
                    console.log(e);
                    let arrowParent = e.target.parentElement.parentElement;
                    console.log(arrowParent);
                    arrowParent.classList.toggle('showMenu');
                });
            }

            let sidebar = document.querySelector(".sidebar");
            let btnMenu = document.querySelector(".open");

            console.log(sidebar,btnMenu );
                btnMenu.addEventListener("click", ()=>{       
                    sidebar.classList.toggle("close");

            });

        </script>
{% block javascripts %}
    {% endblock %}
</body>
</html>