<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                Kouros
            {% endblock %}
        </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        {# <link rel="shortcut icon" href="img/icons/icon-48x48.png" /> #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css" integrity="sha256-u40zn9KeZYpMjgYaxWJccb4HnP0i8XI17xkXrEklevE=" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link href="{{asset('footable/css/footable.bootstrap.css')}}" rel="stylesheet" />
        <link href="{{asset('css/app.css')}}" rel="stylesheet" />
        <link href="{{asset('css/stylee.min.css')}}" rel="stylesheet" />
        {% block stylesheets %}
        {% endblock %}
    </head>

            <div>
                {# ANCHOR a décommenter une fois l'api google ok #}
                {# <img src="{{ app.user.image}}" class="photo" alt="Photo de {{ app.user.fullname}}" width="30" height="30" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Photo de {{app.user.email}}"> #}
                {# <a href="{{ path('logout')}}" class="navbar-brand m-0">  #}
                {# <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Deconnexion">
                <i class="fas fa-sign-out-alt fa-2x c1"></i>
                </button>  #}
            </div>

    <div class="wrapper">       
        
        {# sidebar #}
        <nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="{{path('dashboard')}}">
                    <img src="{{asset ('images/k.png')}}" alt="" class="logo" style="width:30px; height:30px; border-radius:5px">
                    <span class="align-middle">KOUROS</span>
                </a>

                <ul class="sidebar-nav my-2">


                    <li class="sidebar-item active my-3">
                        <a class="sidebar-link" href="{{path('dashboard')}}">
                            <i class="align-middle" data-feather="sliders"></i>
                            <span class="align-middle">Accueil</span>
                        </a>
                    </li>

                    <li class="sidebar-item active my-3">
						<a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link">
							<i class="far fa-id-card"></i><span class="align-middle">Contact</span>
						</a>
						<ul id="dashboards" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="{{ path('prospects_index')}}"><i class="align-middle" data-feather="briefcase"></i><span class="align-middle">Prospects</span></a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="{{path('clients_index')}}"><i class="align-middle" data-feather="users"></i><span class="align-middle">Clients</span></a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="{{ path('opco_index')}}"><i class="align-middle" data-feather="user"></i><span class="align-middle">Opco</span></a></li>
						</ul>
					</li>
                    
                    <li class="sidebar-item active my-3">
						<a data-bs-target="#pages" data-bs-toggle="collapse" class="sidebar-link collapsed">
							<i class="fas fa-tasks"></i> <span class="align-middle">Gestion</span>
						</a>
						<ul id="pages" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="{{ path('devis_index')}}"><i class="align-middle" data-feather="file-text"></i><span class="align-middle">Devis</span></a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="{{ path('conventions_index')}}"><i class="align-middle" data-feather="layers"></i><span class="align-middle">Conventions</span></a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="#"><i class="align-middle" data-feather="clipboard"></i><span class="align-middle">Factures</span></a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="#"><i class="align-middle" data-feather="credit-card"></i><span class="align-middle">Réglements</span></a></li>
						</ul>
					</li>

                    <li class="sidebar-item active my-3">
						<a href="#auth" data-bs-toggle="collapse" class="sidebar-link collapsed">
							<i class="fas fa-graduation-cap"></i><span class="align-middle">Formations</span>
						</a>
						<ul id="auth" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="{{ path('formateurs_index')}}"><i class="align-middle" data-feather="user"></i><span class="align-middle">Formateurs</span></a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="{{ path('formations_index')}}"><i class="align-middle" data-feather="list"></i><span class="align-middle">Listes Formations</span></a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="{{ path('session_index')}}"><i class="align-middle" data-feather="users"></i><span class="align-middle">Sessions</span></a></li>
						</ul>
					</li>

                    <li class="sidebar-item active my-3">
						<a data-bs-target="#ui" data-bs-toggle="collapse" class="sidebar-link collapsed">
							<i class="fas fa-cogs"></i><span class="align-middle">Configurations</span>
						</a>
						<ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="{{ path('employes_index')}}"><i class="align-middle" data-feather="users"></i><span class="align-middle">Employés</span></a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="{{ path('secteur_index')}}"><i class="align-middle" data-feather="compass"></i><span class="align-middle">Catégories</span></a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="{{ path('niveau_index')}}"><i class="align-middle" data-feather="bar-chart-2"></i><span class="align-middle">Niveaux</span></a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="{{ path('template_index') }}"><i class="align-middle" data-feather="layers"></i><span class="align-middle">Templates</span></a></li>
						</ul>
					</li>


                    {# début anciens menus #}
                        {# <li class="sidebar-header">Contact</li>

                        <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('prospects_index')}}">
                            <i class="align-middle" data-feather="briefcase"></i>
                            <span class="align-middle">Prospects</span>
                        </a>
                        </li>

                        <li class="sidebar-item">
                        <a class="sidebar-link" href="{{path('clients_index')}}">
                            <i class="align-middle" data-feather="users"></i>
                            <span class="align-middle">Clients</span>
                        </a>
                        </li>

                        <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('opco_index')}}">
                            <i class="align-middle" data-feather="user"></i>
                            <span class="align-middle">Opco</span>
                        </a>
                        </li> #}

                        {# <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('contact')}}">
                            <i class="align-middle" data-feather="list"></i>
                            <span class="align-middle">Voir tout</span>
                        </a>
                        </li> #}

                        {# <li class="sidebar-header">Gestion</li>

                        <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('devis_index')}}">
                            <i class="align-middle" data-feather="file-text"></i>
                            <span class="align-middle">Devis</span>
                        </a>
                        </li>

                        <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('conventions_index')}}">
                            <i class="align-middle" data-feather="layers"></i>
                            <span class="align-middle">Conventions</span>
                        </a>
                        </li>

                        <li class="sidebar-item">
                        <a class="sidebar-link" href="#">
                            <i class="align-middle" data-feather="clipboard"></i>
                            <span class="align-middle">Factures</span>
                        </a>
                        </li>

                        <li class="sidebar-item">
                        <a class="sidebar-link" href="#">
                            <i class="align-middle" data-feather="credit-card"></i>
                            <span class="align-middle">Réglements</span>
                        </a>
                        </li> #}




                        {# <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('gestion')}}">
                            <i class="align-middle" data-feather="list"></i>
                            <span class="align-middle">Voir tout</span>
                        </a>
                        </li> #}





                        {# <li class="sidebar-header">Formations</li>

                        <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('formateurs_index')}}">
                            <i class="align-middle" data-feather="user"></i>
                            <span class="align-middle">Formateurs</span>
                        </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ path('formations_index')}}">
                                <i class="align-middle" data-feather="list"></i>
                                <span class="align-middle">Listes Formations</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ path('session_index')}}">
                                <i class="align-middle" data-feather="users"></i>
                                <span class="align-middle">Sessions</span>
                            </a>
                        </li> #}



                        {# <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ path('formation')}}">
                                <i class="align-middle" data-feather="list"></i>
                                <span class="align-middle">Voir tout</span>
                            </a>
                        </li> #}




                        {# <li class="sidebar-header">Configurations</li>

                        <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('employes_index')}}">
                            <i class="align-middle" data-feather="users"></i>
                            <span class="align-middle">Employés</span>
                        </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ path('secteur_index')}}">
                                <i class="align-middle" data-feather="compass"></i>
                                <span class="align-middle">Catégories</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ path('niveau_index')}}">
                                <i class="align-middle" data-feather="bar-chart-2"></i>
                                <span class="align-middle">Niveaux</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ path('findFiles') }}">
                                <i class="align-middle" data-feather="layers"></i>
                                <span class="align-middle">Templates</span>
                            </a>
                        </li> #}

                    {# fin anciens menus #}
                </ul>
			</div>
		</nav>
        
       {# sidebar fin #}
        <div class="main">
            {# navbar #}
            
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                                <div class="position-relative">
                                    <i class="align-middle" data-feather="bell"></i>
                                    <span class="indicator">4</span>
                                </div>
                            </a>
                            <div
                            class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
                            aria-labelledby="alertsDropdown"
                            >
                            <div class="dropdown-menu-header">Vous avez 4 Notifications</div>
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                    <i
                                        class="text-danger"
                                        data-feather="alert-circle"
                                    ></i>
                                    </div>
                                    <div class="col-10">
                                    <div class="text-dark">Devis en cours</div>
                                    <div class="text-muted small mt-1">
                                        3
                                    </div>
                                    <div class="text-muted small mt-1">30m ago</div>
                                    </div>
                                </div>
                                </a>
                                <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                    <i class="text-warning" data-feather="bell"></i>
                                    </div>
                                    <div class="col-10">
                                    <div class="text-dark">Rappel</div>
                                    <div class="text-muted small mt-1">
                                        Prochaine visio a 14h
                                    </div>
                                    <div class="text-muted small mt-1">2h ago</div>
                                    </div>
                                </div>
                                </a>
                                <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                    <i class="text-primary" data-feather="home"></i>
                                    </div>
                                    <div class="col-10">
                                    <div class="text-dark">Connecté depuis</div>
                                    <div class="text-muted small mt-1">5h</div>
                                    </div>
                                </div>
                                </a>
                                <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                    <i class="text-success" data-feather="user-plus"></i>
                                    </div>
                                    <div class="col-10">
                                    <div class="text-dark">Nouveau Contact</div>
                                    <div class="text-muted small mt-1">
                                        2
                                    </div>
                                    <div class="text-muted small mt-1">Depuis derniere connection</div>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="dropdown-menu-footer">
                                <a href="#" class="text-muted">Voir toutes les notifications</a>
                            </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                            class="nav-icon dropdown-toggle"
                            href="#"
                            id="messagesDropdown"
                            data-bs-toggle="dropdown"
                            >
                            <div class="position-relative">
                                <i class="align-middle" data-feather="message-square"></i>
                            </div>
                            </a>
                            <div
                            class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
                            aria-labelledby="messagesDropdown"
                            >
                            <div class="dropdown-menu-header">
                                <div class="position-relative">4 Nouveaux Messages</div>
                            </div>
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                    <img
                                        src="#"
                                        class="avatar img-fluid rounded-circle"
                                        alt="Vanessa Tucker"
                                    />
                                    </div>
                                    <div class="col-10 ps-2">
                                    <div class="text-dark">Vanessa Tucker</div>
                                    <div class="text-muted small mt-1">
                                        Il faut verifier les feuilles d'emargement.
                                    </div>
                                    <div class="text-muted small mt-1">15m ago</div>
                                    </div>
                                </div>
                                </a>
                                <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                    <img
                                        src="#"
                                        class="avatar img-fluid rounded-circle"
                                        alt="William Harris"
                                    />
                                    </div>
                                    <div class="col-10 ps-2">
                                    <div class="text-dark">William Harris</div>
                                    <div class="text-muted small mt-1">
                                        Curabitur ligula sapien euismod vitae.
                                    </div>
                                    <div class="text-muted small mt-1">2h ago</div>
                                    </div>
                                </div>
                                </a>
                                <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                    <img
                                        src="#"
                                        class="avatar img-fluid rounded-circle"
                                        alt="Christina Mason"
                                    />
                                    </div>
                                    <div class="col-10 ps-2">
                                    <div class="text-dark">Christian Meneux</div>
                                    <div class="text-muted small mt-1">
                                        Je pars en RDV. 
                                    </div>
                                    <div class="text-muted small mt-1">4h ago</div>
                                    </div>
                                </div>
                                </a>
                                <a href="#" class="list-group-item">
                                <div class="row g-0 align-items-center">
                                    <div class="col-2">
                                    <img
                                        src="#"
                                        class="avatar img-fluid rounded-circle"
                                        alt="Sharon Lessman"
                                    />
                                    </div>
                                    <div class="col-10 ps-2">
                                    <div class="text-dark">Sharon Lessman</div>
                                    <div class="text-muted small mt-1">
                                        Merci de m'envoyer un devis au plus tôt.
                                    </div>
                                    <div class="text-muted small mt-1">5h ago</div>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="dropdown-menu-footer">
                                <a href="#" class="text-muted">Voir tout les messages</a>
                            </div>
                            </div>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                                <img src="{{asset ('images/k.png')}}" class="avatar img-fluid rounded me-1" alt="Kouros"/>
                                {% if app.user.identifiant is defined and app.user.identifiant is not null %}
                                <span class="text-dark">{{ app.user.identifiant }}</span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">
                                <i class="align-middle me-1" data-feather="user"></i>
                                Mon Compte
                            </a>
                            <a class="dropdown-item" href="#">
                            <i class="align-middle me-1" data-feather="pie-chart"></i>
                                Analytics</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                <i class="align-middle me-1" data-feather="settings"></i>
                                Paramètre
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="align-middle me-1" data-feather="help-circle"></i>
                                Aide
                            </a>    
                            <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_logout') }}"> Se Déconnecter</a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            
            {# navbar login fin #}
            
            {# blockbody #}
            <main class="content">
                <div class="container-fluid p-0">     
                    {% block body %}
                    {% endblock %}
                </div>    
            </main>
            {# blockbody fin #}
            {# footer #}
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                    <div class="col-6 text-start">
                        <p class="mb-0">
                        <a
                            class="text-muted"
                            href="#"
                            target="_blank"
                            ><strong>Kouros</strong></a
                        >
                        &copy;
                        </p>
                    </div>
                    <div class="col-6 text-end">
                        <ul class="list-inline">
                        <li class="list-inline-item">
                            <a
                            class="text-muted"
                            href="#"
                            target="_blank"
                            >Support</a
                            >
                        </li>
                        <li class="list-inline-item">
                            <a
                            class="text-muted"
                            href="#"
                            target="_blank"
                            >Help Center</a
                            >
                        </li>
                        <li class="list-inline-item">
                            <a
                            class="text-muted"
                            href="#"
                            target="_blank"
                            >Privacy</a
                            >
                        </li>
                        <li class="list-inline-item">
                            <a
                            class="text-muted"
                            href="#"
                            target="_blank"
                            >Terms</a
                            >
                        </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </footer>
            {# footer fin #}
        </div>
    </div>     

    {# tde 29/09/21 entêtes de commentaires - fonctionne avec le fichier commentaire.js #}
    {% set date = "now"|date("d-m-y") %}
    <input id="contact_commentaire" type="hidden" value="{{ date ~ " " ~  app.user.identifiant ~ " : " }}">
    
        
    {# liens JS #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    {# Script FullCalendar #}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js" integrity="sha256-AOrsg7pOO9zNtKymdz4LsI+KyLEHhTccJrZVU4UFwIU=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> #}
    {# api complétion cp région #}
    <script src="{{asset('js/apiVille.js')}}"></script>
    {# api complétionentreprise #}
    <script src="{{asset('js/apiEntreprise.js')}}"></script>
    {# tde 29/09/21 INSERE LES ENTETES DE COMMENTAIRES à partir du hidden #contact_commentaire #}
    <script src="{{asset('js/commentaire.js')}}"></script>
    {# tde 29/09/21 GERE LE FAIT QU IL N'Y A QU UN SEUL PRINCIPAL ADRESSE OU CONTACT - APPELER LA FONCTION DANS LE FORMULAIRE #}
    <script src="{{ asset('js/gestionPrincipal.js') }}"></script>
    {# A SUPPRIMER APRES TEST #}
    <script src="{{ asset('js/TestForm.js') }}"></script>
    {# adminkit js #}
    <script src="{{asset('js/app.js') }}"></script>
    {# tde 04/11/2021 gere le select et les tarifs de devis #}
    
    
    <script src="{{asset('footable/js/footable.js') }}"></script>
    
    
    {# JS Pour le rendu des tableaux #}
    <script>
        jQuery(function($){
	        $('.table').footable({
                "paging": {
			    "enabled": true,
                "size": 6
		        }
            });
        });
    </script>       
                
        
    {% block javascripts %}
    {% endblock %}
</body>
</html>