{% extends 'base-admin.html.twig' %}


{% block title %}Gestion{% endblock %}

{% block body %}

    <nav style="--bs-breadcrumb-divider: '>';"  aria-label="breadcrumb m-5">
    <ol class="breadcrumb m-5">
        <li class="breadcrumb-item active" aria-current="page">Gestion</li>
    </ol>
    </nav>

    <div class="row justify-content-center">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('gestion')}}">Devis</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link active" aria-current="true" href="{{ path('gestion_convention')}}">Conventions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('gestion_facture')}}">Factures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('gestion_reglement')}}">Règlements</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title  text-center ">Dernières conventions</h5>
                    {#TODO afficher les 10 derniers prospects #}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>Numéro</th>
                            <th>Statut</th>
                            <th>Entreprise</th>
                            <th>Client</th>
                            <th>Formation</th>
                            <th>Durée</th>
                            <th>Lieu de formation</th>
                            <th>Parts</th>
                            <th>Action</th> 
                            </tr>
                        </thead>
                        <tbody>
                           {% for convention in conventions %}
                            <tr>
                                <td>{{convention.devis.numeroDevis}}</td>
                                <td>
                                    {% if convention.devis.statut == 0 %}
                                        <span class="text-primary">
                                            En cours
                                        </span>
                                    {% elseif convention.devis.statut == 1 %}
                                        <span class="text-success">
                                            Accepté
                                        </span>
                                    {% else %}
                                        <span class="text-danger">
                                            Rejeté
                                        </span>
                                    {% endif %}
                                </td>
                                <td>{{ convention.prospect.entreprise }}</td>
                                {% for convention in convention.prospect.contacts %}
                                {% if convention.principal == '1' %}
                                <td>{{ convention.nom }} {{ convention.prenom }}</td>
                                {% endif %}
                                {% endfor %}
                                <td>
                                    
                                    {{ convention.devis.formations.titre}}
                                </td>
                                <td>{{convention.devis.dureeH}}h</td>
                                <td>{{ convention.lieuFormation }}</td>
                                <td>{{ convention.devis.nbrParticipants }} Parts</td>
                                <td>
                                    <a href="{{ path('conventions_show', {'id': convention.id}) }}"><i class="far fa-eye"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                    <a href="{{ path('conventions_index')}}" class="btn btn-primary">Liste complète</a>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
