{% extends 'base-admin.html.twig' %}


{% block title %}Gestion{% endblock %}

{% block body %}

    <nav style="--bs-breadcrumb-divider: '>';"  aria-label="breadcrumb m-5">
    <ol class="breadcrumb m-5">
        <li class="breadcrumb-item active" aria-current="page">Gestion</li>
    </ol>
    </nav>

    <div class="row justify-content-center">
            <div class="card col-10">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('gestion')}}">Devis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('gestion_convention')}}">Conventions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="{{ path('gestion_facture')}}">Factures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('gestion_reglement')}}">Règlements</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-center ">Dernières factures</h5>
                    {#TODO afficher les 10 derniers prospects #}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Numéro</th>
                            <th scope="col">Date</th>
                            <th scope="col">Client</th>
                            <th scope="col">Prestataire</th>
                            <th scope="col">Montant facture</th>
                            <th scope="col">Sommes percues</th>
                            <th scope="col">Montant prestataire</th>
                            <th scope="col">Sommes versées</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Voir</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="#"><i class="fas fa-eye"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                    <a href="#" class="btn btn-primary">Liste complète</a>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
