{% extends 'base-admin.html.twig' %}


{% block title %}Gestion{% endblock %}

{% block body %}

    <nav style="--bs-breadcrumb-divider: '>';"  aria-label="breadcrumb m-5">
        <ol class="breadcrumb m-5">
            <li class="breadcrumb-item active" aria-current="page">Gestion</li>
        </ol>
    </nav>

    <div class="row justify-content-center">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" href="#">Devis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gestion_convention')}}">Conventions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gestion_facture')}}">Factures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gestion_reglement')}}">Règlements</a>
                    </li>
                </ul>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title  text-center">Derniers devis</h5>
                {#TODO afficher les 10 derniers devis => c'est fait 😉#}
                <table class="table table-striped" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
                    <thead>
                        <tr>
                            <th>N°Devis</th>
                            <th>Crée le</th>
                            <th>Client</th>
                            <th>Formation</th> 
                            <th>Méthode</th>
                            <th>Début</th>
                            <th>Fin</th>
                            <th>Heures</th>
                            <th>Parts</th>
                            <th>Tarif</th>
                            <th>Statut</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for devi in devis %}
                            <tr>
                                <td>{{ devi.numeroDevis }}</td>
                                <td>{{ devi.dateCreation ? devi.dateCreation|date('d-m-Y ') }}</td>
                                <td>{{devi.client}}</td>
                                <td>
                                    
                                    {{devi.formations.titre}}
                                    
                                </td>
                                <td>
                                {% if devi.methode == 1 %}
                                    Distanciel
                                {% elseif devi.methode == 2 %}
                                    Présenciel
                                {% else %}
                                    Distanciel et Présenciel
                                {% endif %}
                                </td>
                                <td>{{ devi.dateDebut ? devi.dateDebut|date('d-m-Y ') }}</td>
                                <td>{{ devi.dateFin ? devi.dateFin|date('d-m-Y ') }}</td>
                                <td>{{ devi.dureeH }}h</td>
                                <td>{{ devi.nbrParticipants }} Parts</td>
                                <td>{{ devi.tarifs.ttc }}€</td>
                            
                                <td>
                                    <a class="statut" href="{{ path('edit_statut', {'id': devi.id}) }}">
                                        {% if devi.statut == 0 %}
                                            <span class="text-primary">
                                                En cours
                                            </span>
                                        {% elseif devi.statut == 1 %}
                                            <span class="text-success">
                                                Accepté
                                            </span>
                                        {% else %}
                                            <span class="text-danger">
                                                Rejeté
                                            </span>
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('devis_show', {'id': devi.id}) }}"data-bs-toggle="tooltip" title="voir"><i class="far fa-eye"></i></a>                                       
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-center">
                <a href="{{ path('devis_index')}}" class="btn btn-primary">Liste complète</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
