{% extends 'base-admin.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
{% endblock %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    {# ANCHOR A decommenter une fois l'api google ok #}
    {# <nav class="navbar navbar-light bg-light m-0">
        <div class="container-fluid justify-content-center">

        <p>Bonjour {{app.user.fullname|upper}}</p>
        ANCHOR a supprimer une fois l'api google ok
            <p id="hello_dashboard">Bonjour {{ app.user.fullname}}</p>
        </div>
    </nav>  #}

    {# TODO récupérer données devis.statut #}
    {# <div class="row mt-4 justify-content-around">
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">
                        Devis
                        </h5>
                        <h6><span class="badge bg-success"> Accepté</span></h6>
                    </div>
                    <p class="card-text fw-bold">
                        {{ devisValide|length }}
                    </p>
                </div>
            </div>
        </div> #}
        {# TODO récupérer données factures.statut #}
        {# <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">Factures</h5>
                        <h6><span class="badge bg-success"> Accepté</span></h6>
                    </div>
                    <p class="card-text">{nbr}</p>
                </div>
            </div>
        </div> #}
        {# TODO récupérer données sessions.date #}
        {# <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">Sessions</h5>
                        <h6><span class="badge bg-warning"> En cours</span></h6>
                    </div>
                    <p class="card-text">{nbr}</p>
                </div>
            </div>
        </div> #}
        {# TODO récupérer données sessions.date #}
        {# <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">Sessions</h5>
                        <h6><span class="badge bg-danger"> A venir</span></h6>
                    </div>
                    <p class="card-text">{nbr}</p>
                </div>
            </div>
        </div>
    </div> #}
    {# Récupérer données devis+convention+facture+formateurs #}
    {# <div class="row mt-5 justify-content-evenly">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                        <h5 class="card-title">Notification </h5>
                        <div class="d-flex justify-content-between">
                        <form>
                        <label for="item" >Entrez une action</label>
                        <input type="text" id="item" placeholder="Entrez une action">
                        <button type="submit" class="mt-2">Envoyer le formulaire</button>
                        </form>
                        <h6><span class="badge bg-danger">A faire</span></h6>
                    </div>
                    <ul class="liste-todo text-danger mt-2" id="liste-todo">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <canvas id="graphique" width="100 " height="50"></canvas>
                    </div>
                </div>
            </div>
        </div> #}


    <div class="justify-content-center">
        <div class="container">
            <div class="row col-12 text-center mb-3 ">
                <div class="card-custom card col-lg-4 col-md-6 col-sm-12 p-3 justify-content-center">  
                    <p>{{ devisValide|length }} Devis <i class="fas fa-shopping-cart"></i></p>
                </div>
                <div class="card-custom card col-lg-4 col-md-6 col-sm-12 p-3 justify-content-center">  
                    <p>{{conventions|length}} conventions <i class="fas fa-shopping-cart"></i></p>
                </div>
                <div class="card-custom card col-lg-4 col-md-6 col-sm-12 p-3 justify-content-center">
                    <p>0 <i class="fas fa-euro-sign"> CA</i></p>
                </div>
            {# </div> #}
            {# <div class="row col-12 text-center mb-3"> #}
                <div class="card-custom card col-lg-4 col-md-6 col-sm-12 p-3 justify-content-center">
                    <p>{{contacts|length}} <i class="fas fa-euro-sign"> Clients total</i></p>
                </div>
                <div class="card-custom card col-lg-4 col-md-6 col-sm-12 p-3 justify-content-center">
                    <p>0 Différentiel <i class="far fa-clock"></i></p>
                </div>
                <div class="card-custom card col-lg-4 col-md-6 col-sm-12 p-3 justify-content-center">  
                    <p>0 Différentiel <i class="far fa-clock"></i></p>
                </div>
            {# </div> #}
            {# <div class="row col-12 text-center mb-3"> #}
                <div class="card-custom card col-lg-4 col-md-6 col-sm-12 p-3 justify-content-center">
                    <p>1 heures conventions réalisées <i class="far fa-clock"></i></p>
                </div>
                <div class="card-custom card col-lg-4 col-md-6 col-sm-12 p-3 justify-content-center">
                    <p>0 heures formateurs affectées <i class="far fa-clock"></i></p>
                </div>
                <div class="card-custom card col-lg-4 col-md-6 col-sm-12 p-3 justify-content-center">
                    <p>0 Marge <i class="fas fa-euro-sign"></i></p>
                </div>
            {# </div> #}
            {# <div class="row col-12 text-center mb-3"> #}
                <div class="card-custom card col-lg-4 col-md-6 col-sm-12 p-3 justify-content-center">
                    <p>1 Reste a encaisser <i class="fas fa-exclamation-triangle"></i></p>
                </div>
                <div class="card-custom card col-lg-4 col-md-6 col-sm-12 p-3 justify-content-center">
                    <p>0 Reste a payer (Formateurs) <i class="fas fa-exclamation-circle"></i></p>
                </div>
                <div class="card-custom card col-lg-4 col-md-6 col-sm-12 p-3 justify-content-center">
                    <p>0 Solde de TVA <i class="fas fa-euro-sign"></i></p>
                </div>
            {# </div> #}
            {# <div class="row col-12 text-center"> #}
                <div class="card-custom card col-lg-4 col-md-6 col-sm-12 p-3 justify-content-center">
                    <p>1 TVA collectée <i class="fas fa-euro-sign"></i></p>
                </div>
                <div class="card-custom card col-lg-4 col-md-6 col-sm-12 p-3 justify-content-center">
                    <p>0 TVA débuctible <i class="fas fa-euro-sign"></i></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5"> 
            {# TODO ajouter fullcalendar #}
            <div class="col-10 border bg-light">
                <div id="calendrier"></div>
            </div>
        </div>
    </div>

{% endblock %}
  {% block javascripts %}
  {# lien chartJS #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
  <script>

    // Calendrier FullCalendar 

        window.onload = () => {
                let calendarElt = document.querySelector("#calendrier")

                let calendar = new FullCalendar.Calendar(calendarElt, {
                    initialView : 'timeGridWeek',
                    locale: 'fr',
                    timeZone: 'Europe/Paris',
                    headerToolbar: {
                        start: 'prev, next today',
                        center: 'title',
                        end: 'dayGridMonth, timeGridWeek'
                    },
                    events:  {{dataSession|raw}},
                    editable: true,
                    eventResizableFromStart: true

                })
                calendar.render()
            }

  {# Graphique chiffres #}
  {# TODO récupérer données devis + factures #}
    {# var ctx = document.getElementById('graphique').getContext('2d');
    var graphique = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['devis accepté', 'devis rejeté', 'devis en attente', 'facture en cours', 'facture réglé'],
            datasets: [{
                label: 'chiffre',
                data: [{{ devisValide|length}}, {{ devisRejete|length}}, {{ devisCours|length}}, 5, 2], 
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)' 
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    }); #}
    {# fin graphique #}

    {# ToDOList JS #}
    {# TODO à modifier pour ajouter la recup dynamique #}
    var form = document.querySelector('form');
    var liste =document.getElementById('liste-todo');
    var input = document.querySelector('form input');
    var toutesLesTaches = [];

    {# form.addEventListener('submit', event => {
    event.preventDefault();
    var text = input.value.trim();
    if(text !== ''){
        rajouterUneTache(text);
        input.value = '';
    } 
    })#}
    function rajouterUneTache(text){
    var todo = {
        text,
        // La méthode Dat.now() renvoie le nb de millisecondes écoulées depuis le 1er janvier 1970
        id: Date.now()
    }
    afficherListe(todo);
    }
    function afficherListe(todo){
    var item = document.createElement('li');
    item.setAttribute('data-key', todo.id);
    var input = document.createElement('input');
    input.setAttribute('type', 'checkbox');
    input.addEventListener('click', tacheFaite);
    item.appendChild(input);
    var txt = document.createElement('span');
    txt.innerText = todo.text;
    item.appendChild(txt);
    var btn = document.createElement('button');
    btn.addEventListener('click', supprimerTache);
    var img = document.createElement('img'); 
    {# TODO voir chemin img #}
    {# img.setAttribute{( asset('images/fermer.svg')}); #}
    btn.appendChild(img);
    item.appendChild(btn);
    liste.appendChild(item);
    toutesLesTaches.push(item);
    console.log(toutesLesTaches);
    }
    function tacheFaite(e){
    e.target.parentNode.classList.toggle('finDeTache')
    }
    function supprimerTache(e) {
    toutesLesTaches.forEach(el => {
        if(e.target.parentNode.getAttribute('data-key') === el.getAttribute('data-key')){
        el.remove();
        toutesLesTaches = toutesLesTaches.filter(li => li.dataset.key !== el.dataset.key);
        }
    })
    }
    {# fin todolist #}
  </script>
  {% endblock %}
