{{ form_start(form, {'attr':{'class':'col-12' }}) }}

<div class="card p-3 mt-3 mb-3">
    <h1>Ajouter un Niveau</h1>
    <div class="form-entreprise card p-3 mt-4">
        <div class="row g-3">

        <div>
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
        </div>
        <div class="col-8 my-2">
            <button class="btn btn-outline-secondary mt-3 mb-3">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>        
</div>
{{ form_end(form) }}
