{% extends 'base-admin.html.twig' %}


{% block title %}Modifier un Niveau{% endblock %}

{% block body %}
    <h1>Modifier un Niveau</h1>

    {{ include('niveau/_form.html.twig', {'button_label': 'Modifier'}) }}


    {# {{ include('niveau/_delete_form.html.twig') }} #}
{% endblock %}
