{% extends 'base-admin.html.twig' %}


{% block title %}Niveaux{% endblock %}

{% block body %}

    <div class="row align-items-center">            
        <div class="text-center">
            <h1>Les Niveaux</h1>
        </div>
        <div class="d-flex justify-content">
            <a href="{{ path('niveau_new') }}" class="btn btn-outline-success btn-sm btn-block text ">Créer un niveau</a>
        </div>
    </div>
    
<div class="containerTableau my-3">
    <table class="table table-striped text" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <thead>
            <tr>

                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for niveau in niveaux %}
            <tr>

                <td>{{ niveau.nom }}</td>
                <td>
                    <a href="{{ path('niveau_show', {'id': niveau.id}) }}"  data-bs-toggle="tooltip" title="voir"> <button type="button" class="btn">
                    <i class="far fa-eye"></i></button>
                    </a>
                    <a href="{{ path('niveau_edit', {'id': niveau.id}) }}" data-bs-toggle="tooltip" title="modifier"><button type="button" class="btn"><i class="fas fa-edit"></i></button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
