{% extends 'base-admin.html.twig' %}


{% block title %}Nouveau Niveau{% endblock %}

{% block body %}

    {{ include('niveau/_form.html.twig') }}

    {# <a href="{{ path('niveau_index') }}">back to list</a> #}
{% endblock %}
