{% extends 'base-admin.html.twig' %}


{% block title %}Niveau{% endblock %}

{% block body %}
    <h1>Niveau</h1>

    <div class="containerTableau">
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>    
            <tbody>    
                <tr>
                    <td>{{ niveau.id }}</td>
                    <td>{{ niveau.nom }}</td>
                    <td>
                        <a href="{{ path('niveau_edit', {'id': niveau.id}) }}" data-bs-toggle="tooltip" title="modifier"><button type="button" class="btn"><i class="fas fa-edit"></i></button>
                        </a> 
                        {{ include('niveau/_delete_form.html.twig') }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
