{% extends 'base-admin.html.twig' %}


{% block title %}Modifications Clients{% endblock %}

{% block body %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    
    <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a href="{{ path('contact')}}">Contact</a></li>
        <li class="breadcrumb-item"><a href="{{ path('clients_index')}}">Liste complète</a></li>
        <li class="breadcrumb-item active" aria-current="page">Fiche client</li>
        <li class="breadcrumb-item"><a href="{{ path('clients_index') }}">Retour</a></li>
    </ol>
</nav>
    <h1>Modifications de la fiche client {{prospect.nom}} {{prospect.prenom}}</h1>

    {{ include('prospects/_form.html.twig', {'button_label': 'Modifier'}) }}

    

    {{ include('prospects/_delete_form.html.twig') }}
{% endblock %}
