{% extends 'base-admin.html.twig' %}


{% block title %}Liste Client {% endblock %}

{% block body %}
      
    {{ include('include/_contact.html.twig') }}
    <div class="containerTitre text-center">
        <h1>Liste des Clients</h1>
    </div>
  
        {# tde 19-08-21 je comment car pour moi la transformation du prospect se fait depuis devis... à voir
        <div class="col-3">
            <a href="{{ path('prospects_newClients') }}" class=""btn btn-outline-success btn-sm btn-block text "">New</i></a>
        </div> #}
<div class="containerTableau">
    <table class="table table-striped text" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>    
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prospect in prospects %}
                <tr>
                    {% for contact in prospect.contacts %}                       
                    {% if contact.principal == '1' %}
                            <td> {% if contact.nom != null %} {{contact.nom}} {% else %} --- {% endif %} </td>
                            <td> {% if contact.prenom != null %} {{contact.prenom}} {% else %} --- {% endif %} </td>
                            <td> {% if contact.mobile != null %} {{contact.mobile}} {% else %} --- {% endif %} </td>
                            <td> {% if contact.email != null %} {{contact.email}} {% else %} --- {% endif %} </td>                        
                    {% endif %}
                    {% endfor %}
                    {% if prospect.contacts|length > 1 %}
                    <td class="d-flex">
                        <a href="{{ path('prospects_edit', {'id': prospect.id}) }}" data-bs-toggle="tooltip" title="voir / modifier">
                            <button type="button" class="btn"><i class="fas fa-users text-primary"></i></button>
                        </a>                
                    </td>
                    {% else %}
                    <td class="d-flex">
                        <a href="{{ path('prospects_edit', {'id': prospect.id}) }}" data-bs-toggle="tooltip" title="voir / modifier">
                            <button type="button" class="btn"><i class="fas fa-user text-primary"></i></button>
                        </a>                
                        </div> 
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
