{% extends 'base-admin.html.twig' %}


{% block title %}Nouveau client{% endblock %}

{% block body %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a href="{{ path('contact')}}">Contact</a></li>
        <li class="breadcrumb-item"><a href="{{ path('prospects_index')}}">Liste complète</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ajout</li>
        <li class="breadcrumb-item"><a href="{{ path('prospects_index') }}">Retour</a></li>
    </ol>
</nav>
    <h1>Ajouter un client</h1>

    {{ include('prospects/_form.html.twig') }}

    
{% endblock %}
