{% extends 'base-admin.html.twig' %}


{% block title %}Clients{% endblock %}

{% block body %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a href="{{ path('contact')}}">Contact</a></li>
        <li class="breadcrumb-item"><a href="{{ path('clients_index')}}">Liste complète</a></li>
        <li class="breadcrumb-item active" aria-current="page">Fiche client</li>
        <li class="breadcrumb-item"><a href="{{ path('clients_index') }}">Retour</a></li>
    </ol>
</nav>
    <h1>{{prospect.nom}} {{prospect.prenom}}</h1>

<div class="containerTableau">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Statut</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Site</th>
                <th>Actions</th>
            </tr>
        </thead>    
        <tbody>    
             <tr>
                
                <td>{{ prospect.statut }}</td>
                <td>{{ prospect.nom }}</td>
                <td>{{ prospect.prenom }}</td>
                <td>{{ prospect.email }}</td>
                <td>{{ prospect.tel }}</td>
                <td>{{ prospect.adresse }}</td>
                <td>{{ prospect.codePostal }}</td>
                <td>{{ prospect.ville }}</td>
                <td>{{ prospect.site }}</td>    
                <td>  
                    <a href="{{ path('prospects_editClients', {'id': prospect.id}) }}"data-bs-toggle="tooltip" title="modifier"> <button class="btn"><i class="fas fa-user-edit"></i></button></a>
                    {{ include('prospects/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

  
{% endblock %}
