<form method="post" action="{{ path('contacts_delete', {'id': contact.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <button class="btn"><i class="far fa-trash-alt text-danger"></i></button>
</form>
