{% extends 'base-admin.html.twig' %}


{% block title %}Modifier Contacts{% endblock %}

{% block body %}
    <h1>Modifier Contacts</h1>

    {{ include('contacts/_form.html.twig', {'button_label': 'Modifier'}) }}

    {# <a href="{{ path('contacts_index') }}">back to list</a>

    {{ include('contacts/_delete_form.html.twig') }} #}
{% endblock %}
