{% extends 'base-admin.html.twig' %}


{% block title %}Contacts{% endblock %}

{% block body %}
    <h1>Contacts</h1>
    <div class="table-responsive-sm">
    <table class="table" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Tél</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.nom }}</td>
                <td>{{ contact.prenom }}</td>
                <td>{{ contact.tel }}</td>
                <td>{{ contact.email }}</td>
                <td>
                    <a href="{{ path('contacts_show', {'id': contact.id}) }}">voir</a>
                    <a href="{{ path('contacts_edit', {'id': contact.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a href="{{ path('contacts_new') }}">Nouveau</a>
{% endblock %}
