{% extends 'base-admin.html.twig' %}


{% block title %}Nouveaux Contacts{% endblock %}

{% block body %}
    <h1>Ajouter un Contact</h1>

    {{ include('contacts/_form.html.twig') }}

    <a href="{{ path('contacts_index') }}">Retour</a>
{% endblock %}
