{% extends 'base-admin.html.twig' %}


{% block title %}Contacts{% endblock %}

{% block body %}
    <h1>Contacts</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Tél</th>
                <th>Email</th>
            </tr>
        </thead>    
            
        <tbody>    
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.nom }}</td>
                <td>{{ contact.prenom }}</td>
                <td>{{ contact.tel }}</td>
                <td>{{ contact.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contacts_index') }}">Retour</a>

    <a href="{{ path('contacts_edit', {'id': contact.id}) }}">Modifier</a>

    {{ include('contacts/_delete_form.html.twig') }}
{% endblock %}
