{% extends 'base-admin.html.twig' %}


{% block title %}Modifier Participants{% endblock %}

{% block body %}
    <h1>Modifier Participants</h1>

    {{ include('participants/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('participants_index') }}">Retour</a>

    {{ include('participants/_delete_form.html.twig') }}
{% endblock %}
