{% extends 'base-admin.html.twig' %}


{% block title %}Participants{% endblock %}

{% block body %}
    <h1>Participants</h1>

    <table class="table" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Identifiant</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Image</th>
                <th>Fullname</th>
                <th>Reset_token</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.id }}</td>
                <td>{{ participant.identifiant }}</td>
                <td>{{ participant.email }}</td>
                <td>{{ participant.roles ? participant.roles|json_encode : '' }}</td>
                <td>{{ participant.password }}</td>
                <td>{{ participant.image }}</td>
                <td>{{ participant.fullname }}</td>
                <td>{{ participant.resetToken }}</td>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>
                    <a href="{{ path('participants_show', {'id': participant.id}) }}">voir</a>
                    <a href="{{ path('participants_edit', {'id': participant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('participants_new') }}">Nouveau</a>
{% endblock %}
