{% extends 'base-admin.html.twig' %}


{% block title %}Nouveau Participants{% endblock %}

{% block body %}
    <h1>Ajouter un Participants</h1>

    {{ include('participants/_form.html.twig') }}

    <a href="{{ path('participants_index') }}">Retour</a>
{% endblock %}
