{% extends 'base-admin.html.twig' %}


{% block title %}Participants{% endblock %}

{% block body %}
    <h1>Participants</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participant.id }}</td>
            </tr>
            <tr>
                <th>Identifiant</th>
                <td>{{ participant.identifiant }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ participant.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ participant.roles ? participant.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ participant.password }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ participant.image }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ participant.fullname }}</td>
            </tr>
            <tr>
                <th>Reset_token</th>
                <td>{{ participant.resetToken }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ participant.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('participants_index') }}">Retour</a>

    <a href="{{ path('participants_edit', {'id': participant.id}) }}">Modifier</a>

    {{ include('participants/_delete_form.html.twig') }}
{% endblock %}
